agente-de-ia-com-tools-GAJ1yLqQsZyUMXKp.json
{"updatedAt":"2026-07-03T11:46:57.965Z","createdAt":"2026-07-03T11:04:47.695Z","id":"GAJ1yLqQsZyUMXKp","name":"Agente de IA com Tools","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,0],"id":"88d2de8d-3cb9-4e1d-a37d-ae775592879a","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","needsFallback":true,"options":{"systemMessage":"## QUEM VOCÊ É\n\nVocê é o assistente virtual da Nova Lar Imóveis, uma imobiliária localizada em São Paulo que trabalha com venda e aluguel de apartamentos, casas e salas comerciais.\n\nSeu nome é Ana e você responde e-mails de clientes interessados em imóveis.\n\n## TOM DE VOZ\n\n- Profissional, mas acolhedor. Você quer que o cliente se sinta bem-vindo.\n- Use \"você\" (nunca \"tu\" ou \"senhor/senhora\").\n- Seja objetiva e vá direto ao ponto, sem enrolação.\n- Sempre demonstre interesse genuíno em ajudar o cliente a encontrar o imóvel ideal.\n\n## O QUE VOCÊ PODE FAZER\n\n- Responder dúvidas sobre os imóveis disponíveis.\n- Explicar como funciona o processo de compra ou aluguel.\n- Informar a documentação necessária.\n- Convidar o cliente para agendar uma visita a um imóvel.\n- Consultar a planilha de imóveis para buscar opções que atendam ao perfil do cliente.\n- Registrar os dados do lead na planilha de CRM sempre que identificar um cliente com interesse real.\n\n## INFORMAÇÕES DA EMPRESA\n\n- Regiões atendidas: Zona Sul, Zona Oeste e Centro de São Paulo.\n- Tipos de imóvel: apartamentos (studios, 1 a 4 quartos), casas e salas comerciais.\n- Faixa de preço venda: R$ 250.000 a R$ 2.500.000.\n- Faixa de preço aluguel: R$ 1.200 a R$ 12.000/mês.\n- Horário de atendimento humano: segunda a sexta, 9h às 18h / sábado, 9h às 13h.\n- Telefone/WhatsApp para agendamento de visitas: (11) 99999-0000.\n- Site: www.novalar.com.br\n\n## DOCUMENTAÇÃO\n\n### Para compra:\n- RG e CPF\n- Comprovante de renda (últimos 3 holerites ou declaração de IR)\n- Comprovante de residência\n- Certidão de estado civil\n- Se financiamento: extrato do FGTS + aprovação de crédito pelo banco\n\n### Para aluguel:\n- RG e CPF\n- Comprovante de renda (renda mínima de 3x o valor do aluguel)\n- Comprovante de residência\n- Garantia: fiador, seguro-fiança ou 3 meses de caução\n\n## PROCESSO DE COMPRA E ALUGUEL\n\n### Compra:\n1. Escolha do imóvel e visita\n2. Proposta e negociação\n3. Análise de documentação\n4. Assinatura do contrato de compra e venda\n5. Financiamento (se aplicável) e registro em cartório\nPrazo médio: 30 a 60 dias do aceite da proposta até as chaves.\n\n### Aluguel:\n1. Escolha do imóvel e visita\n2. Envio da documentação e análise de crédito\n3. Escolha da garantia (fiador, seguro-fiança ou caução)\n4. Assinatura do contrato\n5. Vistoria e entrega das chaves\nPrazo médio: 5 a 10 dias úteis após aprovação.\n\n## PERGUNTAS FREQUENTES\n\n- \"Vocês negociam preço?\" → Sim, sempre podemos apresentar uma proposta ao proprietário. O ideal é agendar uma visita primeiro e depois formalizar a proposta.\n- \"Posso usar FGTS?\" → Sim, para compra de imóveis residenciais, desde que atenda às regras da Caixa (não ter outro imóvel na cidade, etc).\n- \"Aceitam pet?\" → Depende do imóvel. Quando buscar opções, use o filtro \"Pet Friendly\" na planilha.\n- \"Tem taxa de corretagem?\" → Na venda, a comissão é paga pelo vendedor. No aluguel, não cobramos taxa do inquilino.\n\n## USO DAS FERRAMENTAS\n\n### Ferramenta: buscar_imoveis\nUse SEMPRE que o cliente perguntar sobre imóveis disponíveis, pedir recomendações ou mencionar características desejadas (bairro, quartos, preço, etc). Consulte a planilha e apresente as opções que mais se encaixam no perfil.\n\n### Ferramenta: registrar_lead\nUse SEMPRE que identificar que o cliente tem interesse real em um imóvel ou está buscando ativamente.\n\nANTES DE REGISTRAR: verifique se o e-mail do remetente já aparece na planilha de leads.\n- Se o lead JÁ EXISTE: NÃO crie uma nova linha. Apenas atualize as informações relevantes (ex: novo imóvel de interesse, mudança de orçamento, atualização de status ou próximo passo).\n- Se o lead NÃO EXISTE: crie uma nova linha com os dados abaixo.\n\nCampos para preenchimento:\n- Data: data de hoje\n- Nome: nome do cliente (extrair do e-mail)\n- E-mail: e-mail do remetente\n- Telefone: se mencionado, caso contrário \"Não informado\"\n- Interesse: Compra ou Aluguel\n- Região de Preferência: bairro ou região mencionada\n- Quartos: quantidade desejada, se mencionada\n- Orçamento Máximo: valor mencionado, se houver\n- Imóvel de Interesse (ID): ID do imóvel recomendado ou que o cliente perguntou\n- Resumo da Conversa: resumo de 1-2 frases do que o cliente precisa\n- Status: \"Novo lead\" (se novo) ou manter/atualizar o status existente\n- Próximo Passo: sugestão de ação (ex: \"Agendar visita\", \"Enviar mais opções\", etc)\n\nNÃO registre leads quando a pessoa só fez uma pergunta genérica sem demonstrar interesse real (ex: \"vocês atendem em Campinas?\" ou \"qual o horário de vocês?\").\n\n## REGRAS IMPORTANTES\n\n1. NUNCA invente informações sobre imóveis. Use SEMPRE a ferramenta buscar_imoveis para consultar a planilha antes de recomendar qualquer imóvel.\n2. Se o cliente pedir algo que não existe na planilha, diga que no momento não temos opções com esse perfil, mas que novas unidades entram toda semana, e sugira contato pelo WhatsApp.\n3. Se o cliente perguntar sobre assuntos não relacionados a imóveis, responda: \"Meu foco é te ajudar a encontrar o imóvel ideal! Como posso te ajudar com isso?\"\n4. Nunca fale mal de outras imobiliárias ou corretores.\n5. Se o cliente demonstrar interesse claro, sempre sugira agendar uma visita pelo WhatsApp (11) 99999-0000.\n6. Quando recomendar imóveis, pergunte sobre as necessidades do cliente antes de sair indicando opções.\n\n\n## FORMATAÇÃO DA RESPOSTA\n\nResponda SEMPRE em HTML válido. Use as seguintes tags para formatar:\n- <b> para negrito\n- <br> para quebras de linha\n- <ul> e <li> para listas\n- <a href=\"...\"> para links clicáveis\n\nEstruture a resposta de forma organizada: separe cada imóvel recomendado em um bloco visual claro, com quebra de linha entre eles. Não envie tudo em um único parágrafo.\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[256,0],"id":"6997fe66-1862-4cea-9ce9-cc4955e93f60","name":"AI Agent","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.threadId }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[464,240],"id":"fa28bbd1-438c-4937-96ff-fc9b41d6db54","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1tYM2z1DPClBuxzRUc3MS8q7dMTtzXiNF53NLtBjv15s","mode":"list","cachedResultName":"Cópia de Base Apartamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tYM2z1DPClBuxzRUc3MS8q7dMTtzXiNF53NLtBjv15s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tYM2z1DPClBuxzRUc3MS8q7dMTtzXiNF53NLtBjv15s/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[624,224],"id":"de06951f-0fd1-43bd-a6a9-f5750ffcc799","name":"buscar_imoveis","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}},"notes":"Use essa tool para consultar informações sobre imóveis disponíveis "},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"12I0l8KHzyU9VH77ei6afM4tweH50fTjuyLpiUelSrQc","mode":"list","cachedResultName":"Cópia de Base Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12I0l8KHzyU9VH77ei6afM4tweH50fTjuyLpiUelSrQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12I0l8KHzyU9VH77ei6afM4tweH50fTjuyLpiUelSrQc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"E-mail":"={{ $json.from.value[0].address }}","Nome":"={{ $json.from.value[0].name }}","Interesse (Compra/Aluguel)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interesse__Compra_Aluguel_', ``, 'string') }}","Data":"={{ $now.toFormat('dd/MM/yyyy') }}","Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Região de Preferência":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Regi_o_de_Prefer_ncia', ``, 'string') }}","Quartos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quartos', ``, 'string') }}","Orçamento Máximo (R$)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Or_amento_M_ximo__R__', ``, 'string') }}","Imóvel de Interesse (ID)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Im_vel_de_Interesse__ID_', ``, 'string') }}","Resumo da Conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resumo_da_Conversa', ``, 'string') }}","Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}","Próximo Passo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pr_ximo_Passo', ``, 'string') }}"},"matchingColumns":["E-mail"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interesse (Compra/Aluguel)","displayName":"Interesse (Compra/Aluguel)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Região de Preferência","displayName":"Região de Preferência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quartos","displayName":"Quartos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Orçamento Máximo (R$)","displayName":"Orçamento Máximo (R$)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Imóvel de Interesse (ID)","displayName":"Imóvel de Interesse (ID)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resumo da Conversa","displayName":"Resumo da Conversa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Próximo Passo","displayName":"Próximo Passo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[768,224],"id":"fa5ec137-e58a-42c2-b5a5-9dbea7ad1c4f","name":"registrar_lead","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}},"notes":"Use essa tool para registrar ou atualizar dados de leads da empresa."},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[96,256],"id":"afa03705-7c78-4a50-b4a1-2a2426f79929","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WNdOaVrx3UE9FudI","name":"OpenAi account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[240,256],"id":"3ff404d5-1178-4657-818e-1084da5f53d6","name":"Groq Chat Model","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger').item.json.id }}","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[640,0],"id":"8bfdeb65-b3da-4ae9-bccd-dbab03752fe6","name":"Reply to a message","webhookId":"1eb90c1d-f737-4673-b0e1-f34de111ec71","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"buscar_imoveis":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"registrar_lead":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"AI Agent":{"main":[[{"node":"Reply to a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gmail Trigger":[{"json":{"id":"19f27c34359d248b","threadId":"19f27c34359d248b","labelIds":["UNREAD","IMPORTANT","CATEGORY_PERSONAL","INBOX"],"sizeEstimate":9196,"headers":{"delivered-to":"Delivered-To: lucas.amorim.porciuncula@gmail.com","received":"Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 38308e7fff4ca-39b4aeac784sor2270461fa.15.2026.07.03.04.35.35\r\n        for <lucas.amorim.porciuncula@gmail.com>\r\n        (Google Transport Security);\r\n        Fri, 03 Jul 2026 04:35:35 -0700 (PDT)","x-received":"X-Received: by 2002:a2e:86d3:0:b0:39b:164a:2208 with SMTP id\r\n 38308e7fff4ca-39b36f374fdmr15195651fa.40.1783078534454; Fri, 03 Jul 2026\r\n 04:35:34 -0700 (PDT)","arc-seal":"ARC-Seal: i=1; a=rsa-sha256; t=1783078535; cv=none;\r\n        d=google.com; s=arc-20260327;\r\n        b=PfDcLaJaL6PXzUw3Ie7cvkPW/M3W2Oeu75oPmc5292MeHcG1FLliMB4OP/k9/P53ih\r\n         BIveqwXiSrsgtS+mDb+2a8lTYSRrQuGKZoI5KsoGYcmqPVFiu6c/tlKIsVs80eaMCLnr\r\n         GPV5sYlqA/LXtf1FUzOd8704fqDQH8AfKaD5gbYJ0RgJdRUujsr4+6YMFYT6LI0UzJFW\r\n         ty21tB8QoqFS5DMc4epmHn6vwl7dcGcp8N8VRj2Eg3RSbREG2aYxpfYMHjaGSb8adxEV\r\n         +27oASlGLzNeq58mMr28jNrz27S2Xs5hdR7qMZzk4jsH9krXZSVG1xeh58qPh1ZTrYHX\r\n         fmAw==","arc-message-signature":"ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20260327;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=9oGb5idm9Z5vNbeKz1EDvAgPEZKCobOUyNSRUGrbXcU=;\r\n        fh=JnxPazM9jtEAJ0Rxt4RXU6VroagdVA1duIwUSJSGdl0=;\r\n        b=BBL+RuB650v93ZTeBRIPprD9DchSxsCwiKMPC/iWY3GIF/7CBxj9UNDPXdvCXdbYXz\r\n         jaJGfUcvBCHP9+X3uGLqnNZzFdLaJF0XGnNQoWGc0HtLQrx00FWeQ7oVF+Lqhc4yStgr\r\n         0cfnu3d471k8YWmP8ZeqSwwOMdD/UAP03quA18fFbSnsng6QxQzgqPYF2ZnqNvCGaPX0\r\n         yaUSLuhfNuTjLYQ0K2dkxtlMe50CTNthbuRUwAS2XlGuJjqDaZYywl44xspA9xSnjcV5\r\n         Sy3XeUaGjKaESwdGJTGUUO8mIEiFLqj5P8lvQNwuEofWU59u8q0QSRGRsMuekaSyZZ8f\r\n         632A==;\r\n        dara=google.com","arc-authentication-results":"ARC-Authentication-Results: i=1; mx.google.com; arc=none","return-path":"Return-Path: <lucas.porciuncula@al.infnet.edu.br>","received-spf":"Received-SPF: pass (google.com: domain of lucas.porciuncula@al.infnet.edu.br designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;","authentication-results":"Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@infnet.edu.br header.s=google header.b=A80WPsuK;\r\n       arc=pass (i=1);\r\n       spf=pass (google.com: domain of lucas.porciuncula@al.infnet.edu.br designates 209.85.220.41 as permitted sender) smtp.mailfrom=lucas.porciuncula@al.infnet.edu.br;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=infnet.edu.br;\r\n       dara=pass header.i=@gmail.com","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=infnet.edu.br; s=google; t=1783078535; x=1783683335; dara=google.com;\r\n        h=content-type:to:subject:message-id:date:from:mime-version:from:to\r\n         :cc:subject:date:message-id:reply-to:content-type;\r\n        bh=9oGb5idm9Z5vNbeKz1EDvAgPEZKCobOUyNSRUGrbXcU=;\r\n        b=A80WPsuKZdG+QzYh1z/Q5ZHrQcghUu11kXMYpQHq3YDsevHC+DkkzKHarlSIgXPcOo\r\n         EWqqE941upGdT2IGqUZr8chep0AasVMaphveGj9EtBMyi8SZuIGl1DeWhtCnuyqK30By\r\n         pLhFMnmWZAbqBzs3Aliq3lEldZgf0lbX3+RMM=","x-google-dkim-signature":"X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20251104; t=1783078535; x=1783683335;\r\n        h=content-type:to:subject:message-id:date:from:mime-version:x-gm-gg\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to\r\n         :content-type;\r\n        bh=9oGb5idm9Z5vNbeKz1EDvAgPEZKCobOUyNSRUGrbXcU=;\r\n        b=A/zp8OBBZ+f54tiphQw3ZTgdOqPGG8ISjTyaI2kH6FSCPE83ANI//vt9IJlalcYry1\r\n         Fi1BY2PrvjuM24l3ly8lYwjXC6ktfx24mv7ilgYlJIvTU1ZeYZhIhhlxitQxqR9hB4Vs\r\n         wb5VRwO5wqV6FN/nxwm7da7ugqtGyewPN1HeAS65z8LROljWTJhZ/CrR1mToFXvJaHbc\r\n         hroNGCEd7L4ss9fhY12udXVYGx5hJnFOD7c0H+ngHqVazU22pwYN0ozJvgOmAnkOGRfb\r\n         clcyBm0MN1JOvSp1Ib4i8GizZ3gBO3lbep4ny70HJ5jIgw6ywf6hlwXmLX/XWlVtdnP+\r\n         t6Sg==","x-gm-message-state":"X-Gm-Message-State: AOJu0Yxupeq3yesVoOeNt4XzyNo4zKG8AtNA0widIY6yqQJ4gLcfU6kZ\r\n\tiHe0ynq1Zm+mBxYVZjOSuPTvYmmS1QlcI5LPZc4DYgxvowarYEH6Es6GNCVleqLtSC3cMP/W8cj\r\n\tEd+M7nQfsZHcNuqlwwXb0KQ0ZW8phUeotmGf8O0H+df6fTEmLeZ5Bhbu1","x-gm-gg":"X-Gm-Gg: AfdE7cmi2xqpkpEpVJEWlAw8/bW+zzZQotuuvh0dfvwesFlFjRKFXr5/aw15I9iYdMQ\r\n\totnPnO4nsXlI8M8CzaCqM0M86NI1s/eAyEop6gZnV4KTg8Vq5RgeESMwxyvcBXX56/TICNZniuU\r\n\t7zgT6PPtqJClgXQevYRUrGwFKx5mCqkikA5aTsQW/tGdiyykGpPyHURwXPs6y/uovNUkoGXaZof\r\n\t7Ek+dG5fdb2pdYvvaoMeuwMFP8/WHYtnZ/Q5RqMKj1ndryNtl8qL6b/YK+qapaci+UkDyk+RGsn\r\n\td2/ksbZZOw2md5TQYQz7oiCkfpsTow==","mime-version":"MIME-Version: 1.0","from":"From: Lucas Amorim Porciuncula <lucas.porciuncula@al.infnet.edu.br>","date":"Date: Fri, 3 Jul 2026 08:34:41 -0300","x-gm-features":"X-Gm-Features: AVVi8CcSiYC5PPDJSn1QgHHqDNAki-eZOlaLJ7uk-1xZF00GtWqNZwou2TvjAs4","message-id":"Message-ID: <CAM4=GiMfjbzYtHfcnqTO9_hNwqovm5Gtw8teG1FKYJQf3CN=2w@mail.gmail.com>","subject":"Subject: =?UTF-8?Q?Interesse_em_apartamento_para_loca=C3=A7=C3=A3o?=","to":"To: lucas.amorim.porciuncula@gmail.com","content-type":"Content-Type: multipart/alternative; boundary=\"000000000000a73cb60655b3523b\""},"html":"<div dir=\"ltr\"><p>Olá,</p><p>Meu nome é Lucas e encontrei vocês pelo site. Gostaria de uma ajuda para encontrar um apartamento para alugar.</p><p>Estou procurando um imóvel na Zona Oeste de São Paulo, de preferência nos bairros Pompeia, Perdizes ou Vila Madalena.</p><p>Tenho os seguintes requisitos:</p><ul><li><p>2 quartos, sendo um para utilizar como home office;</p></li><li><p>Orçamento de até <strong>R$ 4.500 por mês</strong>, já incluindo o condomínio;</p></li><li><p>O condomínio/prédio deve aceitar pets, pois tenho um cachorro de pequeno porte.</p></li></ul><p>Pretendo me mudar nos próximos 60 dias. Minha renda é de aproximadamente <strong>R$ 15.000 por mês (CLT)</strong> e, caso seja necessário, também disponho de fiador.</p><p>Poderiam, por gentileza, me enviar algumas opções que se encaixem nesse perfil?</p><p>WhatsApp: (71) 99642-0649</p><p>Desde já, agradeço pela atenção e fico no aguardo do retorno.</p><p>Atenciosamente,</p><p>Lucas Amorim</p></div>\n","text":"Olá,\n\nMeu nome é Lucas e encontrei vocês pelo site. Gostaria de uma ajuda para\nencontrar um apartamento para alugar.\n\nEstou procurando um imóvel na Zona Oeste de São Paulo, de preferência nos\nbairros Pompeia, Perdizes ou Vila Madalena.\n\nTenho os seguintes requisitos:\n\n   -\n\n   2 quartos, sendo um para utilizar como home office;\n   -\n\n   Orçamento de até *R$ 4.500 por mês*, já incluindo o condomínio;\n   -\n\n   O condomínio/prédio deve aceitar pets, pois tenho um cachorro de pequeno\n   porte.\n\nPretendo me mudar nos próximos 60 dias. Minha renda é de aproximadamente *R$\n15.000 por mês (CLT)* e, caso seja necessário, também disponho de fiador.\n\nPoderiam, por gentileza, me enviar algumas opções que se encaixem nesse\nperfil?\n\nWhatsApp: (71) 99642-0649\n\nDesde já, agradeço pela atenção e fico no aguardo do retorno.\n\nAtenciosamente,\n\nLucas Amorim\n","textAsHtml":"<p>Ol&aacute;,</p><p>Meu nome &eacute; Lucas e encontrei voc&ecirc;s pelo site. Gostaria de uma ajuda para<br/>encontrar um apartamento para alugar.</p><p>Estou procurando um im&oacute;vel na Zona Oeste de S&atilde;o Paulo, de prefer&ecirc;ncia nos<br/>bairros Pompeia, Perdizes ou Vila Madalena.</p><p>Tenho os seguintes requisitos:</p><p>   -</p><p>   2 quartos, sendo um para utilizar como home office;<br/>   -</p><p>   Or&ccedil;amento de at&eacute; *R$ 4.500 por m&ecirc;s*, j&aacute; incluindo o condom&iacute;nio;<br/>   -</p><p>   O condom&iacute;nio/pr&eacute;dio deve aceitar pets, pois tenho um cachorro de pequeno<br/>   porte.</p><p>Pretendo me mudar nos pr&oacute;ximos 60 dias. Minha renda &eacute; de aproximadamente *R$<br/>15.000 por m&ecirc;s (CLT)* e, caso seja necess&aacute;rio, tamb&eacute;m disponho de fiador.</p><p>Poderiam, por gentileza, me enviar algumas op&ccedil;&otilde;es que se encaixem nesse<br/>perfil?</p><p>WhatsApp: (71) 99642-0649</p><p>Desde j&aacute;, agrade&ccedil;o pela aten&ccedil;&atilde;o e fico no aguardo do retorno.</p><p>Atenciosamente,</p><p>Lucas Amorim</p>","subject":"Interesse em apartamento para locação","date":"2026-07-03T11:34:41.000Z","to":{"value":[{"address":"lucas.amorim.porciuncula@gmail.com","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:lucas.amorim.porciuncula@gmail.com\" class=\"mp_address_email\">lucas.amorim.porciuncula@gmail.com</a></span>","text":"lucas.amorim.porciuncula@gmail.com"},"from":{"value":[{"address":"lucas.porciuncula@al.infnet.edu.br","name":"Lucas Amorim Porciuncula"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">Lucas Amorim Porciuncula</span> &lt;<a href=\"mailto:lucas.porciuncula@al.infnet.edu.br\" class=\"mp_address_email\">lucas.porciuncula@al.infnet.edu.br</a>&gt;</span>","text":"\"Lucas Amorim Porciuncula\" <lucas.porciuncula@al.infnet.edu.br>"},"messageId":"<CAM4=GiMfjbzYtHfcnqTO9_hNwqovm5Gtw8teG1FKYJQf3CN=2w@mail.gmail.com>"},"pairedItem":{"item":0}}]},"versionId":"8aaf55d9-adca-493e-8a98-41991a00c49b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-03T11:04:47.706Z","createdAt":"2026-07-03T11:04:47.706Z","role":"workflow:owner","workflowId":"GAJ1yLqQsZyUMXKp","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}