automação-estoque-crítico---case-01-i3vqbC7ELng6G9gW.json
{"updatedAt":"2026-07-01T17:42:05.222Z","createdAt":"2026-06-30T20:17:08.857Z","id":"i3vqbC7ELng6G9gW","name":"Automação Estoque Crítico - Case 01","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-64,0],"id":"c3bfbe56-6d21-419a-82dd-27ae0bea9c60","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"15sW6bueMg4xLy2FRYj2-o5vVOVcTwJZ23IkRnx56dnc","mode":"list","cachedResultName":"estoque","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15sW6bueMg4xLy2FRYj2-o5vVOVcTwJZ23IkRnx56dnc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15sW6bueMg4xLy2FRYj2-o5vVOVcTwJZ23IkRnx56dnc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"44177811-85d4-421b-b0fd-e60117793f11","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"712f822c-683b-43e2-8d02-341caa009109","leftValue":"={{ $json.ESTOQUE_ATUAL }}","rightValue":"={{ $json.ESTOQUE_MINIMO }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[416,0],"id":"3b840e04-9c11-4c6b-a45d-1cf185bb83d2","name":"Filter"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[624,0],"id":"a559d3bd-057a-483c-a479-4c839537ef50","name":"Convert to File"},{"parameters":{"sendTo":"laporciuncula@vitalmed.com.br","subject":"Itens com Estoque Insuficiente!","message":"Atenção! Os seguintes produtos estão abaixo do estoque crítico. Favor solicitar com urgência ao fornecedor ","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[832,0],"id":"fbdeab3e-e60f-47a6-9b1c-c06547fac561","name":"Send a message","webhookId":"75787c4e-b1ad-49b9-b879-a4644f2d04ce","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"399b6bce-1a44-4c78-b8a6-a9850ffa3feb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-30T20:17:08.870Z","createdAt":"2026-06-30T20:17:08.870Z","role":"workflow:owner","workflowId":"i3vqbC7ELng6G9gW","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}