camisa-10-telegram-SilukUSJhpQMAlur.json
{"updatedAt":"2026-07-16T15:10:53.071Z","createdAt":"2026-07-16T11:53:28.849Z","id":"SilukUSJhpQMAlur","name":"camisa 10 telegram","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.4,"position":[-2960,832],"id":"e6d717c6-83a1-4fa2-81df-dcca67797b71","name":"menagemRecebida","webhookId":"df68ba79-5ff8-4406-b392-85fcf82de8b5","credentials":{}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"751e3891-8be9-4e5d-aef4-0b413a428539","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2736,832],"id":"b7234438-7780-40ac-bd93-69c401bb3cc9","name":"Audio?"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2512,736],"id":"211f2876-edcb-45ec-acea-e05e477a6d2a","name":"baixarAudio","webhookId":"bec106a6-9a2d-4938-9d7c-3c696f6156b8"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[-2288,736],"id":"4f071df8-7cf4-4412-94ee-74c391e7265d","name":"TrascreverAudio"},{"parameters":{"assignments":{"assignments":[{"id":"84f7ea85-c1ec-4677-9d22-ae9caa98ec57","name":"texto","value":"={{ $json.text }}","type":"string"},{"id":"3506df89-1649-4312-9f27-8bb1c0da6cee","name":"chat_id","value":"={{ $('menagemRecebida').item.json.message.from.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2064,736],"id":"ffb30840-4579-45b6-bead-19d719562d78","name":"DadosAudio"},{"parameters":{"assignments":{"assignments":[{"id":"84f7ea85-c1ec-4677-9d22-ae9caa98ec57","name":"texto","value":"={{ $json.message.text }}","type":"string"},{"id":"3506df89-1649-4312-9f27-8bb1c0da6cee","name":"chat_id","value":"={{ $('menagemRecebida').item.json.message.from.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2064,928],"id":"8897d3b8-001a-491c-a640-29e52514d842","name":"DadosTexto"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1840,832],"id":"3193751e-9cbd-4584-b2f0-badf2e247d16","name":"DadosFinais"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1536,1056],"id":"6d56ae3c-368e-4b8a-b038-60342f346acc","name":"Groq Chat Model"},{"parameters":{"query":"={{ $json.output.tema }}","options":{"topic":"news","search_depth":"advanced","max_results":5,"days":3,"include_answer":"advanced"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[-1264,832],"id":"f79fc936-9927-4f15-b59e-18df1604c886","name":"BuscarWeb","credentials":{}},{"parameters":{"text":"={{ $json.texto }}","attributes":{"attributes":[{"name":"tema","description":"O tema principal do conteúdo em uma frase curta","required":true},{"name":"plataformas","description":"A plataforma será publicado o conteúdo: Linkedin, instagram, twitter ou youtube. Se não expecificado retorne \"todos\"","required":true},{"name":"tom","description":"Tom desejado: didático, descritivo, técnico, inspiracional, etc.","required":true},{"name":"público alvo","description":"público alvo do conteúdo, se não especificado, inferir do tema.","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-1616,832],"id":"cc079785-d302-49e5-aca7-9cab86ac4978","name":"ExtrairDados"},{"parameters":{"chunkSize":4000,"chunkOverlap":2000,"options":{"summarizationMethodAndPrompts":{"values":{"summarizationMethod":"stuff","prompt":"Você é um pesquisador. Sintetize os principais insights e dados da pesquisa \nabaixo em 5-7 bullets curtos em PT-BR. Foque em tendências, dados concretos, \nângulos interessantes. \nPesquisa: \n\"{text}\" \nINSIGHTS:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[-1040,832],"id":"b6a69bac-84a0-4780-b5b8-3d4a3915c3bc","name":"SintetizarPesquisa"},{"parameters":{"jsonSchemaExample":"{\"output\": {\"estrategia_geral\": \"Posicionar Agentes de IA como uma nova categoria profissional emergente, conectando ao crescimento do mercado e desafios de integracao.\", \"angulo_unico\": \"Agentes nao sao IA - sao colegas virtuais que voce precisa contratar e gerenciar.\", \"tom_geral\": \"didatico-provocativo\", \"video\": {\"formato\": \"reels_shorts\", \"justificativa\": \"Tema novo precisa formato viral para alcance inicial.\"}, \"linkedin\": {\"formato\": \"carrossel_pdf\", \"justificativa\": \"LinkedIn premia carrossel e publico tecnico engaja com formato denso.\"}, \"instagram\": {\"formato\": \"carrossel\", \"justificativa\": \"Carrossel funciona melhor para conteudo didatico no Instagram.\"}, \"twitter\": {\"formato\": \"thread\", \"justificativa\": \"Tema requer profundidade e trends justificam thread bem estruturada.\"}, \"newsletter\": {\"formato\": \"normal\", \"justificativa\": \"Formato padrao permite explorar nuances e dados.\"}}}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-608,1056],"id":"bee352ed-b137-43cd-bf23-74f421071d2f","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-96,144],"id":"0bd24a97-524a-42e9-b4a0-0932ba52951b","name":"OpenAI Chat Model"},{"parameters":{"resource":"folder","name":"={{ $now.format('yyyy-MM-dd') }} - {{ $('ExtrairDados').item.json.output.tema }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1otBQCG8Tlb5h7hZd9LqkrLvYRqOPTtn2","mode":"list","cachedResultName":"Camisa 10","cachedResultUrl":"https://drive.google.com/drive/folders/1otBQCG8Tlb5h7hZd9LqkrLvYRqOPTtn2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-336,832],"id":"9cae013e-bb4c-44cc-ac9d-c1bc273af591","name":"criarPasta"},{"parameters":{"promptType":"define","text":"=FORMATO ESCOLHIDO: {{ $('DiretorCriativo').item.json.output.video.formato }}\n\nJUSTIFICATIVA: {{ $('DiretorCriativo').item.json.output.video.justificativa }}\n\nDIREÇÃO DO DIRETOR:\n- Estratégia geral: {{ $('DiretorCriativo').item.json.output.estrategia_geral }}\n- Ângulo único: {{ $('DiretorCriativo').item.json.output.angulo_unico }}\n- Tom geral: {{ $('DiretorCriativo').item.json.output.tom_geral }}\n\nINSIGHTS: {{ $('SintetizarPesquisa').item.json.output.text }}\n\nTema: {{ $('ExtrairDados').item.json.output.tema }}\nPúblico Alvo: {{ $('ExtrairDados').item.json.output['público alvo'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Você é um roteirista profissional. O Diretor escolheu o formato. Adapte: \n\nSE \"youtube_longo\":\n- Roteiro de 8-12 minutos \n- Inclua TIMESTAMPS [00:00], [01:30], etc \n- Estrutura: HOOK (30s), INTRO (1min), 3-5 PONTOS PROFUNDOS com exemplos, \nCONCLUSÃO, CTA para inscrever-se - Linguagem articulada, profunda, com transições claras \n\nSE \"reels_shorts\": \n- Roteiro de 30-60 segundos \n- HOOK super agressivo nos primeiros 3 segundos \n- 3-4 frases de impacto \n- CTA visual no final (\"Salva esse para depois\") \n- Linguagem rápida, frases curtas, marcadores [CORTE], [B-ROLL], [TEXTO NA \nTELA] \nRetorne JSON estrito. O campo \"conteudo_markdown\" tem o roteiro completo \nformatado."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-112,-80],"id":"79a3d666-f20e-4cbf-a6de-273b169c703d","name":"RedatorVideo"},{"parameters":{"promptType":"define","text":"=Briefing \nTema:  {{ $('ExtrairDados').item.json.output.tema }} \nPúblico-Alvo: {{ $('ExtrairDados').item.json.output['público alvo'] }}\nTom: {{ $('ExtrairDados').item.json.output.tom }} \nPlataformas: {{ $('ExtrairDados').item.json.output.plataformas }} \nPesquisa: \n{{ $json.output.text }} ","hasOutputParser":true,"messages":{"messageValues":[{"message":"Você é o Diretor Criativo de uma agência de social media de elite. Recebeu um \nbriefing e dados de pesquisa. Sua tarefa: definir a ESTRATÉGIA EDITORIAL antes \nque os redatores produzam o conteúdo. \nPara cada formato (Vídeo, LinkedIn, Instagram, Twitter, Newsletter), escolha o \nsub-formato mais apropriado considerando: natureza do tema, público alvo, \ntrends de cada plataforma, profundidade do conteúdo. \nSub-formatos disponiveis: - Video: \"youtube_longo\" OU \"reels_shorts\" - LinkedIn: \"post_texto\" OU \"carrossel_pdf\" - Instagram: \"carrossel\" OU \"stories\" OU \"post_estatico\" - Twitter: \"thread\" OU \"post_viral\"  - Newsletter: \"normal\" OU \"breaking_curto\" \nTambém defina: - estrategia_geral: approach editorial unificador  - angulo_unico: o twist/insight central que vai amarrar todas as peças  - tom_geral: 1 palavra unificadora (didático, provocativo, inspiracional, \ntécnico, irreverente) \nRetorne JSON estrito. Justifique cada escolha em 1 frase."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-688,832],"id":"d21b29c3-a437-478b-b5ad-8bc1402b53d1","name":"DiretorCriativo"},{"parameters":{"promptType":"define","text":"=FORMATO ESCOLHIDO: {{ $('DiretorCriativo').item.json.output.linkedin.formato }}\n\nJUSTIFICATIVA: {{ $('DiretorCriativo').item.json.output.linkedin.justificativa }}\n\nDIREÇÃO DO DIRETOR:\n- Estratégia geral: {{ $('DiretorCriativo').item.json.output.estrategia_geral }}\n- Ângulo único: {{ $('DiretorCriativo').item.json.output.angulo_unico }}\n- Tom geral: {{ $('DiretorCriativo').item.json.output.tom_geral }}\n\nINSIGHTS: {{ $('SintetizarPesquisa').item.json.output.text }}\n\nTema: {{ $('ExtrairDados').item.json.output.tema }}\nPúblico Alvo: {{ $('ExtrairDados').item.json.output['público alvo'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Você é um especialista em LinkedIn. O Diretor escolheu o formato. Adapte:  SE \"post_texto\": - 200-300 palavras - Estrutura: HOOK (1 frase forte), STORY/CONTEXTO, INSIGHT/LICAO (3-5 pontos),  CTA (pergunta) - Use quebras de linha para legibilidade - 3-5 hashtags no fim  SE \"carrossel_pdf\": - 8-10 slides em markdown - Slide 1: CAPA (título impactante + subtítulo) - Slides 2-9: 1 ideia por slide (título curto + 2-3 linhas) - Slide final: CTA (salve, compartilhe, comente) - Cada slide formatado: ## Slide N: Título\\nCorpo do slide - Inclua legenda do post (~150 palavras) no fim  Retorne JSON estrito."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-112,320],"id":"d1c65461-a50d-47b1-b9ea-e7ecebddaed2","name":"RedatorLinkedin"},{"parameters":{"promptType":"define","text":"=FORMATO ESCOLHIDO: {{ $('DiretorCriativo').item.json.output.instagram.formato }}\n\nJUSTIFICATIVA: {{ $('DiretorCriativo').item.json.output.instagram.justificativa }}\n\nDIREÇÃO DO DIRETOR:\n- Estratégia geral: {{ $('DiretorCriativo').item.json.output.estrategia_geral }}\n- Ângulo único: {{ $('DiretorCriativo').item.json.output.angulo_unico }}\n- Tom geral: {{ $('DiretorCriativo').item.json.output.tom_geral }}\n\nINSIGHTS: {{ $('SintetizarPesquisa').item.json.output.text }}\n\nTema: {{ $('ExtrairDados').item.json.output.tema }}\nPúblico Alvo: {{ $('ExtrairDados').item.json.output['público alvo'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Você é um social media para Instagram. O Diretor escolheu o formato. Adapte:  SE \"carrossel\": - 6-8 slides em markdown - Slide 1: capa (max 6 palavras) + subtítulo - Slides 2-7: didático (titulo curto + corpo max 30 palavras) - Slide 8: CTA - Cada slide: ## Slide N: Título\\nCorpo do slide - Legenda do post no fim (~150 palavras + hashtags)  SE \"stories\": - 5-8 cards em markdown - Cada card: ## Story N - [tipo]\\nTexto curto e visual - Tipos: enquete, caixa de pergunta, contagem regressiva, texto puro, sticker  de música - Cada card tem máximo 15 palavras - Mais informal que carrossel  SE \"post_estatico\": - 1 imagem + legenda - Bloco 1: DESCRICAO DA IMAGEM (o que aparece, cores, mood) - Bloco 2: LEGENDA (~250 palavras com hashtags) - Bloco 3: CTA + comentário pin  Retorne JSON estrito."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-112,720],"id":"b458dbe3-ad51-4a7c-9aff-ae514bb13b77","name":"RedatorInstagram"},{"parameters":{"promptType":"define","text":"=FORMATO ESCOLHIDO: {{ $('DiretorCriativo').item.json.output.twitter.formato }}\n\nJUSTIFICATIVA: {{ $('DiretorCriativo').item.json.output.twitter.justificativa }}\n\nDIREÇÃO DO DIRETOR:\n- Estratégia geral: {{ $('DiretorCriativo').item.json.output.estrategia_geral }}\n- Ângulo único: {{ $('DiretorCriativo').item.json.output.angulo_unico }}\n- Tom geral: {{ $('DiretorCriativo').item.json.output.tom_geral }}\n\nINSIGHTS: {{ $('SintetizarPesquisa').item.json.output.text }}\n\nTema: {{ $('ExtrairDados').item.json.output.tema }}\nPúblico Alvo: {{ $('ExtrairDados').item.json.output['público alvo'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Você é um copywriter para Twitter/X. O Diretor escolheu o formato. Adapte:  SE \"thread\": - 8-12 tweets - Cada tweet MAX 280 caracteres - Tweet 1: HOOK que vende a thread (curiosidade, contradição, dado) - Tweets 2-N: insights, dados, exemplos - Ultimo tweet: CTA (follow, save, RT) - Formato: **Tweet 1:** texto\\n\\n**Tweet 2:** texto\\n...  SE \"post_viral\": - 1 único tweet de alto impacto - MAX 280 caracteres - Tipos válidos: contradição, dado chocante, opinião polêmica, observação  incisiva - Sem hashtags - Indique 2-3 variantes do tweet para A/B test  Retorne JSON estrito. "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-112,1120],"id":"4b7a4522-11ac-4a52-89ac-4dd1d95f56aa","name":"RedatorTwitter"},{"parameters":{"promptType":"define","text":"=FORMATO ESCOLHIDO: {{ $('DiretorCriativo').item.json.output.newsletter.formato }}\n\nJUSTIFICATIVA: {{ $('DiretorCriativo').item.json.output.newsletter.justificativa }}\n\nDIREÇÃO DO DIRETOR:\n- Estratégia geral: {{ $('DiretorCriativo').item.json.output.estrategia_geral }}\n- Ângulo único: {{ $('DiretorCriativo').item.json.output.angulo_unico }}\n- Tom geral: {{ $('DiretorCriativo').item.json.output.tom_geral }}\n\nINSIGHTS: {{ $('SintetizarPesquisa').item.json.output.text }}\n\nTema: {{ $('ExtrairDados').item.json.output.tema }}\nPúblico Alvo: {{ $('ExtrairDados').item.json.output['público alvo'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Você é um editor de newsletter. O Diretor escolheu o formato. Adapte:  SE \"normal\": - 400-600 palavras - Estrutura: ASSUNTO (impactante), INTRODUCAO (gancho), DESENVOLVIMENTO (2-3  secoes com sub-títulos), TAKEAWAY (1 frase), CTA - Use markdown - Tom direto, opinativo, com dados  SE \"breaking_curto\": - 150 palavras max - Estrutura: ASSUNTO URGENTE (com BREAKING ou ALERTA), 1 parágrafo expondo o  fato, 1 parágrafo do impacto, 1 frase de próximo passo - Tom urgente, telegráfico, jornalístico  Retorne JSON estrito."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-112,1632],"id":"52afdc32-9bb8-407e-b29a-3774de74c2dd","name":"RedatorNewsletter"},{"parameters":{"jsonSchemaExample":"{ \n\"formato\":\"reels_shorts\", \n  \"titulo\":\"Título\", \n  \"conteudo_markdown\":\"# Roteiro markdown\", \n  \"notas_estrategicas\":\"Notas\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[32,144],"id":"8d0c9c18-31e4-4338-8bf1-bb495a98d328","name":"Structured Output Parser1"},{"parameters":{"operation":"createFromText","content":"=# {{ $json.output.titulo }}\n\n**formato escolhido:**{{ $json.output.formato }}\nNotas estratégicas: {{ $json.output.notas_estrategicas }}\n\n---\n\n{{ $json.output.conteudo_markdown }}","name":"= Vídeo ({{ $json.output.formato }}).md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('criarPasta').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,32],"id":"15caf949-6551-479d-9b9d-cd2b8940eeff","name":"DriveVideo"},{"parameters":{"jsonSchemaExample":"{ \n\"formato\":\"carrossel_pdf\", \n  \"titulo\":\"Titulo\", \n  \"conteudo_markdown\":\"# Conteudo\", \n  \"notas_estrategicas\":\"Notas\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-32,544],"id":"557ca6e1-ff2e-41c8-84dd-a571daa98190","name":"Structured Output Parser2"},{"parameters":{"operation":"createFromText","content":"=# {{ $json.output.titulo }}\n\n**formato escolhido:**{{ $json.output.formato }}\nNotas estratégicas: {{ $json.output.notas_estrategicas }}\n\n---\n\n{{ $json.output.conteudo_markdown }}","name":"= Linkedin ({{ $json.output.formato }}).md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('criarPasta').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,432],"id":"f72bd774-2b33-460f-8335-03969f0f0c01","name":"DriveLinkedin"},{"parameters":{"jsonSchemaExample":"{ \n\"formato\":\"carrossel\", \n\"titulo\":\"Titulo\", \n\"conteudo_markdown\":\"# Slide 1\", \n\"notas_estrategicas\":\"Notas\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-32,944],"id":"e98023ce-d540-4a1d-ba6b-4ebdee18b956","name":"Structured Output Parser3"},{"parameters":{"operation":"createFromText","content":"=# {{ $json.output.titulo }}\n\n**formato escolhido:**{{ $json.output.formato }}\nNotas estratégicas: {{ $json.output.notas_estrategicas }}\n\n---\n\n{{ $json.output.conteudo_markdown }}","name":"= Instagram ({{ $json.output.formato }}).md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('criarPasta').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,832],"id":"392a607e-4c91-4618-9d18-7778f96f63b7","name":"DriveInstagram"},{"parameters":{"jsonSchemaExample":"{ \n  \"formato\":\"thread\", \n  \"titulo\":\"Hook\", \n  \"conteudo_markdown\":\"**Tweet 1:** Texto\", \n  \"notas_estrategicas\":\"Notas\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-32,1344],"id":"f81de465-d800-47ab-8677-7ca3276f4be2","name":"Structured Output Parser4"},{"parameters":{"operation":"createFromText","content":"=# {{ $json.output.titulo }}\n\n**formato escolhido:**{{ $json.output.formato }}\nNotas estratégicas: {{ $json.output.notas_estrategicas }}\n\n---\n\n{{ $json.output.conteudo_markdown }}","name":"= Twitter ({{ $json.output.formato }}).md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('criarPasta').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,1232],"id":"0c9bb423-5f92-4074-86ee-5a2c56811b44","name":"DriveTwitter"},{"parameters":{"jsonSchemaExample":"{ \n\"formato\":\"normal\", \n\"titulo\":\"Assunto\", \n\"conteudo_markdown\":\"# Newsletter\", \n  \"notas_estrategicas\":\"Notas\" \n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-32,1856],"id":"9ea37129-86a0-418c-9a6b-f747b05a200f","name":"Structured Output Parser5"},{"parameters":{"operation":"createFromText","content":"=# {{ $json.output.titulo }}\n\n**formato escolhido:**{{ $json.output.formato }}\nNotas estratégicas: {{ $json.output.notas_estrategicas }}\n\n---\n\n{{ $json.output.conteudo_markdown }}","name":"= NewsLetter ({{ $json.output.formato }}).md","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('criarPasta').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,1632],"id":"76c76eb5-0748-4b66-8d02-22ca234f85d6","name":"DriveNewsletter"},{"parameters":{"chatId":"={{ $('menagemRecebida').item.json.message.from.id }}","text":"=<b>CONTEÚDO PRONTO!</b>\n\n<b>Estratégia:</b> {{ $('DiretorCriativo').item.json.output.estrategia_geral }}\n\n<b>Ângulo único:</b> {{ $('DiretorCriativo').item.json.output.angulo_unico }}\n\n<b>Formatos escolhidos:</b>\n- Vídeo: {{ $('DiretorCriativo').item.json.output.video.formato }}\n- LinkedIn: {{ $('DiretorCriativo').item.json.output.linkedin.formato }}\n- Instagram: {{ $('DiretorCriativo').item.json.output.instagram.formato }}\n- Twitter: {{ $('DiretorCriativo').item.json.output.twitter.formato }}\n- Newsletter: {{ $('DiretorCriativo').item.json.output.newsletter.formato }}\n\n<b>Pasta do Drive:</b> https://drive.google.com/drive/u/0/folders/{{ $('criarPasta').item.json.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[928,864],"id":"f4be53e4-7349-483b-bfd2-488b646a5e4c","name":"EnviarResposta","webhookId":"69b6b733-e44e-470a-89a2-94e91c18fb02"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,816],"id":"d4c5bfee-1f92-408c-8f91-a9c14d4baa43","name":"unificarTudo"}],"connections":{"Audio?":{"main":[[{"node":"baixarAudio","type":"main","index":0}],[{"node":"DadosTexto","type":"main","index":0}]]},"baixarAudio":{"main":[[{"node":"TrascreverAudio","type":"main","index":0}]]},"TrascreverAudio":{"main":[[{"node":"DadosAudio","type":"main","index":0}]]},"DadosAudio":{"main":[[{"node":"DadosFinais","type":"main","index":0}]]},"DadosTexto":{"main":[[{"node":"DadosFinais","type":"main","index":1}]]},"DadosFinais":{"main":[[{"node":"ExtrairDados","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"ExtrairDados","type":"ai_languageModel","index":0},{"node":"SintetizarPesquisa","type":"ai_languageModel","index":0}]]},"BuscarWeb":{"main":[[{"node":"SintetizarPesquisa","type":"main","index":0}]]},"ExtrairDados":{"main":[[{"node":"BuscarWeb","type":"main","index":0}]]},"SintetizarPesquisa":{"main":[[{"node":"DiretorCriativo","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"DiretorCriativo","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"DiretorCriativo","type":"ai_languageModel","index":0},{"node":"RedatorInstagram","type":"ai_languageModel","index":0},{"node":"RedatorTwitter","type":"ai_languageModel","index":0},{"node":"RedatorNewsletter","type":"ai_languageModel","index":0},{"node":"RedatorLinkedin","type":"ai_languageModel","index":0},{"node":"RedatorVideo","type":"ai_languageModel","index":0}]]},"criarPasta":{"main":[[{"node":"RedatorVideo","type":"main","index":0},{"node":"RedatorLinkedin","type":"main","index":0},{"node":"RedatorInstagram","type":"main","index":0},{"node":"RedatorTwitter","type":"main","index":0},{"node":"RedatorNewsletter","type":"main","index":0}]]},"RedatorVideo":{"main":[[{"node":"DriveVideo","type":"main","index":0}]]},"DiretorCriativo":{"main":[[{"node":"criarPasta","type":"main","index":0}]]},"RedatorLinkedin":{"main":[[{"node":"DriveLinkedin","type":"main","index":0}]]},"RedatorInstagram":{"main":[[{"node":"DriveInstagram","type":"main","index":0}]]},"RedatorTwitter":{"main":[[{"node":"DriveTwitter","type":"main","index":0}]]},"RedatorNewsletter":{"main":[[{"node":"DriveNewsletter","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"RedatorVideo","type":"ai_outputParser","index":0}]]},"DriveVideo":{"main":[[{"node":"unificarTudo","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"RedatorLinkedin","type":"ai_outputParser","index":0}]]},"DriveLinkedin":{"main":[[{"node":"unificarTudo","type":"main","index":1}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"RedatorInstagram","type":"ai_outputParser","index":0}]]},"DriveInstagram":{"main":[[{"node":"unificarTudo","type":"main","index":2}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"RedatorTwitter","type":"ai_outputParser","index":0}]]},"DriveTwitter":{"main":[[{"node":"unificarTudo","type":"main","index":3}]]},"Structured Output Parser5":{"ai_outputParser":[[{"node":"RedatorNewsletter","type":"ai_outputParser","index":0}]]},"DriveNewsletter":{"main":[[{"node":"unificarTudo","type":"main","index":4}]]},"unificarTudo":{"main":[[{"node":"EnviarResposta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a09306c6-3f5a-4066-b318-d73371760bfe","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-16T11:53:28.851Z","createdAt":"2026-07-16T11:53:28.851Z","role":"workflow:owner","workflowId":"SilukUSJhpQMAlur","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}