case---primeira-automação-e-agente-de-ia-com-n8n-2bUaCsk7U1bWgDPx.json
{"updatedAt":"2026-07-06T14:10:05.320Z","createdAt":"2026-07-06T14:09:59.273Z","id":"2bUaCsk7U1bWgDPx","name":"Case - Primeira Automação e Agente de IA com n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Abertura de Tickert - Suporte","formDescription":"Prrencha os campos abaixo para enviar uma solicitação . Nossa equipe responderá em breve.","formFields":{"values":[{"fieldLabel":"Nome: ","fieldName":"nome","placeholder":"Lucas Amorim","requiredField":true},{"fieldLabel":"Email:","fieldType":"email","fieldName":"email","placeholder":"exemplo@email.com","requiredField":true},{"fieldLabel":"Empresa:","fieldName":"empresa","placeholder":"Vitalmed","requiredField":true},{"fieldLabel":"Assunto:","fieldName":"assunto","placeholder":"problema no botão de excluir","requiredField":true},{"fieldLabel":"Descreva o problema que você está enfrentando:","fieldType":"textarea","fieldName":"problema","placeholder":"quado eu entro na aba de consultas nao consigo exlcuir o botão","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.6,"position":[-640,240],"id":"bb4ce14f-d2b6-4b82-baa7-6bec8d5037b1","name":"NovoTicket","webhookId":"689b272b-148b-4582-be33-8b52e20f385f"},{"parameters":{"text":"={{ $json.problema }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}},"topicalAlignment":{"value":{"threshold":0.7,"prompt":"O texto deve está relacionado a suporte técnico de software/Saas. Tópicos válidos: bugs, erros, problemas de acesso, lentidão, dúvidas de uso, pagamentos, cancelamento. Tópicos inválidos: assuntos pessoais, spam, conteúdo ofensivo, manipulação de IA."}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[-416,240],"id":"ecc26b16-5cc2-4de6-9532-ead05e7a3edc","name":"Verificação"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-320,480],"id":"ab5d0291-0098-4a91-8665-161437da8f51","name":"OpenAI Chat Model"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,496],"id":"e31e3073-b11e-44aa-a126-4b1cfb1e0dc1","name":"FaçaNada"},{"parameters":{"promptType":"define","text":"=Novo ticket de suporte recebido: \n\nNome: {{ $('NovoTicket').item.json.nome }}\nEmail:{{ $('NovoTicket').item.json.email }}\nEmpresa:{{ $('NovoTicket').item.json.empresa }}\nAssunto:{{ $('NovoTicket').item.json.assunto }}\nMensagem: {{ $('NovoTicket').item.json.problema }}","hasOutputParser":true,"options":{"systemMessage":"Você é o sistema de triagem e atendimento automatizado da SaaSPro. \n## SUA FUNÇÃO \nAnalisar tickets recebidos, classificar, e **gerar uma SOLUÇÃO DIRETA** para o \ncliente sempre que possível. Não responda com \"vamos analisar e retornar\" — \nisso é inútil. Tente resolver. \n## CATEGORIAS - **bug**: Erro no sistema, funcionalidade quebrada, crash, erro 500/404 - **feature_request**: Pedido de nova funcionalidade ou melhoria - **billing**: Fatura, cobrança, upgrade/downgrade de plano, cancelamento - **account**: Problemas de login, permissões, configurações de conta - **how_to**: Dúvida de como usar uma funcionalidade - **performance**: Lentidão, timeout, sistema lento \n## EQUIPES DE DESTINO - **engenharia**: bug, performance - **produto**: feature_request - **financeiro**: billing - **customer_success**: account, how_to \n## PRIORIDADES - **critica**: Sistema fora do ar, perda de dados, afeta todos os usuários - **alta**: Funcionalidade importante quebrada, afeta operação do cliente - **media**: Bug menor, dúvida operacional - **baixa**: Sugestão, elogio, dúvida simples \n## COMO GERAR A RESPOSTA AO CLIENTE \n1. Cumprimente o cliente pelo nome \n2. Identifique o problema descrito \n3. **PROPONHA UMA SOLUÇÃO CONCRETA** com passos claros. Exemplos: - \"Câmera não conecta\": verificar drivers, testar em outro aplicativo, \nreiniciar serviço USB, atualizar firmware"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0],"id":"7e1cf074-1a0d-4941-a16a-4c44cd04d96c","name":"AgenteTriagem"},{"parameters":{"jsonSchemaExample":"{\n  \"categoria\": \"bug\",\n  \"prioridade\": \"alta\",\n  \"equipe\": \"engenharia\",\n  \"resumo\": \"Câmera não conecta no Nvidia Broadcast\",\n  \"impacto\": \"Cliente sem conseguir usar câmera\",\n  \"tem_solucao\": true,\n  \"resposta_cliente_html\": \"<p>Olá Henrique,</p><p>Identifiquei que sua câmera não está conectando...</p><ol><li>Atualize o driver da câmera</li><li>Teste em outro aplicativo</li></ol>\",\n  \"cliente_existente\": true,\n  \"plano_cliente\": \"Enterprise\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[304,224],"id":"3eed6158-1b12-4451-afe4-805877a834b5","name":"Structured Output Parser"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-80,240],"id":"9331284d-f8f9-428f-abd8-71c52a4a3651","name":"llama-3.3-70b-versatile"},{"parameters":{"documentId":{"__rl":true,"value":"127AbG3LzimAyRB7t9UWe1GildhRCDC5kH206tsZ44no","mode":"list","cachedResultName":"clientes ativos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127AbG3LzimAyRB7t9UWe1GildhRCDC5kH206tsZ44no/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127AbG3LzimAyRB7t9UWe1GildhRCDC5kH206tsZ44no/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email","lookupValue":"={{ $('NovoTicket').item.json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[96,224],"id":"d1eaa6c6-4777-402d-8623-6602e92ca8cc","name":"ConsultarBase"}],"connections":{"NovoTicket":{"main":[[{"node":"Verificação","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Verificação","type":"ai_languageModel","index":0}]]},"Verificação":{"main":[[{"node":"AgenteTriagem","type":"main","index":0}],[{"node":"FaçaNada","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AgenteTriagem","type":"ai_outputParser","index":0}]]},"llama-3.3-70b-versatile":{"ai_languageModel":[[{"node":"AgenteTriagem","type":"ai_languageModel","index":0}]]},"ConsultarBase":{"ai_tool":[[{"node":"AgenteTriagem","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"168fe7ae-ab29-45a3-970f-b241a76420b7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-06T14:09:59.285Z","createdAt":"2026-07-06T14:09:59.285Z","role":"workflow:owner","workflowId":"2bUaCsk7U1bWgDPx","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}