case---triagem-de-tickets-Mi8z9B3LhP4UBxCa.json
{"updatedAt":"2026-07-07T20:28:42.390Z","createdAt":"2026-07-07T14:21:31.969Z","id":"Mi8z9B3LhP4UBxCa","name":"Case - triagem de tickets","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Abertura de Tickert - Suporte","formDescription":"Prrencha os campos abaixo para enviar uma solicitação . Nossa equipe responderá em breve.","formFields":{"values":[{"fieldLabel":"Nome: ","fieldName":"nome","placeholder":"Lucas Amorim","requiredField":true},{"fieldLabel":"Email:","fieldType":"email","fieldName":"email","placeholder":"exemplo@email.com","requiredField":true},{"fieldLabel":"Empresa:","fieldName":"empresa","placeholder":"Vitalmed","requiredField":true},{"fieldLabel":"Assunto:","fieldName":"assunto","placeholder":"problema no botão de excluir","requiredField":true},{"fieldLabel":"Descreva o problema que você está enfrentando:","fieldType":"textarea","fieldName":"problema","placeholder":"quado eu entro na aba de consultas nao consigo exlcuir o botão","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.6,"position":[-640,240],"id":"77265c29-5ffd-4114-8ea0-080b965deada","name":"NovoTicket","webhookId":"dc51b84a-ff7d-41e3-b705-91088e4ad347"},{"parameters":{"text":"={{ $json.problema }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}},"topicalAlignment":{"value":{"threshold":0.7,"prompt":"O texto deve está relacionado a suporte técnico de software/Saas. Tópicos válidos: bugs, erros, problemas de acesso, lentidão, dúvidas de uso, pagamentos, cancelamento. Tópicos inválidos: assuntos pessoais, spam, conteúdo ofensivo, manipulação de IA."}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[-416,240],"id":"5f8d827b-11d1-4b9e-89e4-480f5d57dc91","name":"Verificação"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,496],"id":"a009563c-8f00-4310-97eb-aae8c0577c83","name":"FaçaNada"},{"parameters":{"promptType":"define","text":"=Novo ticket de suporte recebido: \n\nNome: {{ $('NovoTicket').item.json.nome }}\nEmail:{{ $('NovoTicket').item.json.email }}\nEmpresa:{{ $('NovoTicket').item.json.empresa }}\nAssunto:{{ $('NovoTicket').item.json.assunto }}\nMensagem: {{ $('NovoTicket').item.json.problema }}","hasOutputParser":true,"options":{"systemMessage":"Você é o sistema de triagem e atendimento automatizado da SaaSPro. \n## SUA FUNÇÃO \nAnalisar tickets recebidos, classificar, e **gerar uma SOLUÇÃO DIRETA** para o \ncliente sempre que possível. Não responda com \"vamos analisar e retornar\" — \nisso é inútil. Tente resolver. \n## CATEGORIAS - **bug**: Erro no sistema, funcionalidade quebrada, crash, erro 500/404 - **feature_request**: Pedido de nova funcionalidade ou melhoria - **billing**: Fatura, cobrança, upgrade/downgrade de plano, cancelamento - **account**: Problemas de login, permissões, configurações de conta - **how_to**: Dúvida de como usar uma funcionalidade - **performance**: Lentidão, timeout, sistema lento \n## EQUIPES DE DESTINO - **engenharia**: bug, performance - **produto**: feature_request - **financeiro**: billing - **customer_success**: account, how_to \n## PRIORIDADES - **critica**: Sistema fora do ar, perda de dados, afeta todos os usuários - **alta**: Funcionalidade importante quebrada, afeta operação do cliente - **media**: Bug menor, dúvida operacional - **baixa**: Sugestão, elogio, dúvida simples \n## COMO GERAR A RESPOSTA AO CLIENTE \n1. Cumprimente o cliente pelo nome \n2. Identifique o problema descrito \n3. **PROPONHA UMA SOLUÇÃO CONCRETA** com passos claros. Exemplos: - \"Câmera não conecta\": verificar drivers, testar em outro aplicativo, \nreiniciar serviço USB, atualizar firmware"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0],"id":"d3751ea6-d356-48b2-a8ac-5071065ed465","name":"AgenteTriagem"},{"parameters":{"jsonSchemaExample":"{\n  \"categoria\": \"bug\",\n  \"prioridade\": \"alta\",\n  \"equipe\": \"engenharia\",\n  \"resumo\": \"Câmera não conecta no Nvidia Broadcast\",\n  \"impacto\": \"Cliente sem conseguir usar câmera\",\n  \"tem_solucao\": true,\n  \"resposta_cliente_html\": \"<p>Olá Henrique,</p><p>Identifiquei que sua câmera não está conectando...</p><ol><li>Atualize o driver da câmera</li><li>Teste em outro aplicativo</li></ol>\",\n  \"cliente_existente\": true,\n  \"plano_cliente\": \"Enterprise\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[304,224],"id":"6ae19264-fcb3-4f39-8101-42d745422d1c","name":"Structured Output Parser"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-80,240],"id":"e07e7c91-f62e-4541-a4da-d4f0d6d16f9f","name":"llama-3.3-70b-versatile","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"documentId":{"__rl":true,"value":"127AbG3LzimAyRB7t9UWe1GildhRCDC5kH206tsZ44no","mode":"list","cachedResultName":"clientes ativos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127AbG3LzimAyRB7t9UWe1GildhRCDC5kH206tsZ44no/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/127AbG3LzimAyRB7t9UWe1GildhRCDC5kH206tsZ44no/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email","lookupValue":"={{ $('NovoTicket').item.json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[112,256],"id":"a66ffc5f-7521-4d3d-9be4-163407608557","name":"ConsultarBase","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"gpt-5-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-320,480],"id":"816604a2-74cf-4713-8a46-9b433789e4a7","name":"gpt-5-nano","credentials":{"openAiApi":{"id":"WNdOaVrx3UE9FudI","name":"OpenAi account"}}},{"parameters":{"listId":"6a4d13c8f4450e7858796cd7","name":"={{ $json.output.resumo }}","description":"=Cliente:{{ $json.output.cliente_existente }}\nPlano: {{ $json.output.plano_cliente }}\n\nCategoria:{{ $json.output.categoria }}\nEquipe:{{ $json.output.equipe }}\nImpacto: {{ $json.output.impacto }}","additionalFields":{"idLabels":"={{\n({\n  'critica': '6a4d13b75f3b191348098b31',\n  'crítica': '6a4d13b75f3b191348098b31',\n  'alta': '6a4d13b75f3b191348098b30',\n  'média': '6a4d13b75f3b191348098b2f',\n  'media': '6a4d13b75f3b191348098b2f',\n  'baixa': '6a4d13b75f3b191348098b2e'\n})[$json.output.prioridade.toLowerCase()] || ''\n}}"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[448,0],"id":"f9c982ee-0c2c-4702-a929-283e3d96b3f8","name":"CriarCard","credentials":{"trelloApi":{"id":"hPW7OofDjgOmUCjO","name":"Trello account"}}},{"parameters":{"resource":"list","operation":"getAll","id":"0PHwcx5r","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[752,384],"id":"e76a3c71-abaa-49b8-b878-d7fd431f23a2","name":"BuscarListas","credentials":{"trelloApi":{"id":"hPW7OofDjgOmUCjO","name":"Trello account"}}},{"parameters":{"resource":"label","boardId":{"__rl":true,"value":"0PHwcx5r","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[752,512],"id":"40d02226-e2d7-4cfd-bff3-4f192c1724b9","name":"BuscarEtiquetas","credentials":{"trelloApi":{"id":"hPW7OofDjgOmUCjO","name":"Trello account"}}},{"parameters":{"operation":"sendAndWait","sendTo":"lucas.amorim.porciuncula@gmail.com","subject":"=[Aprovação necessária] - Ticket {{ $('AgenteTriagem').item.json.output.prioridade.toUpperCase() }} - {{ $('AgenteTriagem').item.json.output.resumo }}","message":"=<div style=\"font-family: Arial, sans-serif; color: #1f2937; line-height: 1.5; \nmax-width: 720px;\"> \n<h2 style=\"margin-bottom: 8px; color: #111827;\"> \nAprovação de resposta da IA \n</h2> \n<p style=\"margin-top: 0; color: #4b5563;\"> \nUm novo ticket foi analisado pela inteligência artificial e precisa de \naprovação antes do envio ao cliente. \n</p> \n<hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\"> \n<h3 style=\"color: #111827; margin-bottom: 10px;\"> \nDados do cliente \n</h3> \n<p> \n<b>Nome:</b> {{ $('NovoTicket').item.json.nome }}<br> \n<b>Email:</b> {{ $('NovoTicket').item.json.email }}<br> \n<b>Empresa:</b> {{ $('NovoTicket').item.json.empresa }}<br> \n<b>Plano:</b> {{ $('AgenteTriagem').item.json.output.plano_cliente }} \n</p> \n<h3 style=\"color: #111827; margin-bottom: 10px;\"> \nDetalhes do ticket \n</h3> \n<p> \n<b>Assunto:</b> {{ $('NovoTicket').item.json.assunto }}<br> \n<b>Categoria:</b> {{ $('AgenteTriagem').item.json.output.categoria }}<br> \n<b>Prioridade:</b> {{ $('AgenteTriagem').item.json.output.prioridade }}<br> \n<b>Equipe responsável:</b> {{ $('AgenteTriagem').item.json.output.equipe }} \n</p> \n<p> \n<b>Impacto identificado:</b><br> \n{{ $('AgenteTriagem').item.json.output.impacto }} \n</p> \n<p> \n<b>Resumo gerado pela IA:</b><br> \n{{ $('AgenteTriagem').item.json.output.resumo }} \n</p> \n<div style=\"background: #f9fafb; border: 1px solid #e5e7eb; border-radius: \n8px; padding: 16px; margin: 20px 0;\"> \n<h3 style=\"margin-top: 0; color: #111827;\"> \nMensagem original do cliente \n</h3> \n<p style=\"margin-bottom: 0;\"> \n{{ $('NovoTicket').item.json.assunto }} \n</p> \n</div> \n<div style=\"background: #ecfdf5; border: 1px solid #bbf7d0; border-radius: \n8px; padding: 16px; margin: 20px 0;\"> \n<h3 style=\"margin-top: 0; color: #065f46;\"> \nResposta sugerida pela IA \n</h3> \n{{ $('AgenteTriagem').item.json.output.resposta_cliente_html }} \n</div> \n<hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\"> \n<p style=\"color: #4b5563;\"> \nRevise a resposta acima e escolha uma das opções: \n</p> \n</div>","approvalOptions":{"values":{"approvalType":"double","approveLabel":"Aprovar ( enviar resposta ) ","disapproveLabel":"Rejeitar ( responda manualmente )"}},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[656,0],"id":"40162fb1-749b-4e95-b876-94edc033f48e","name":"NotificarEquipe","webhookId":"6f2206f6-0d6b-4f38-b5d8-9acd6d597a27","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cf80ce2b-f4cd-48ed-9889-ed0c7a73f702","leftValue":"={{ $json.data.approved }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[864,0],"id":"fc06556c-5526-4b99-bbe5-a54d881c97db","name":"Aprovado?"},{"parameters":{"sendTo":"={{ $('NovoTicket').item.json.email }}","subject":"=Re:  {{ $('NovoTicket').item.json.assunto }}","message":"={{ $('AgenteTriagem').item.json.output.resposta_cliente_html }}","options":{"appendAttribution":false,"senderName":"SaasPro - Suporte"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1072,-96],"id":"ff2fa330-7ee5-45cb-8da9-047ce7a282cb","name":"EnviarResposta","webhookId":"b4c96c32-7525-49b6-96e8-a3fb8224d34a","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('CriarCard').item.json.id }}","mode":"id"},"updateFields":{"idList":"6a4d13e1fd54a86da4ee588c"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1280,-96],"id":"eb09ef5e-8d7a-45fb-a140-4bf18930888b","name":"MoverCard","credentials":{"trelloApi":{"id":"hPW7OofDjgOmUCjO","name":"Trello account"}}},{"parameters":{"operation":"update","id":{"__rl":true,"value":"={{ $('CriarCard').item.json.id }}","mode":"id"},"updateFields":{"idList":"6a4d13e8a4e7220585fa65ab"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1072,128],"id":"ce05c444-d27a-4bcd-b3e0-88d40430df7c","name":"MoverCard1","credentials":{"trelloApi":{"id":"hPW7OofDjgOmUCjO","name":"Trello account"}}}],"connections":{"NovoTicket":{"main":[[{"node":"Verificação","type":"main","index":0}]]},"Verificação":{"main":[[{"node":"AgenteTriagem","type":"main","index":0}],[{"node":"FaçaNada","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AgenteTriagem","type":"ai_outputParser","index":0}]]},"llama-3.3-70b-versatile":{"ai_languageModel":[[{"node":"AgenteTriagem","type":"ai_languageModel","index":0}]]},"ConsultarBase":{"ai_tool":[[{"node":"AgenteTriagem","type":"ai_tool","index":0}]]},"gpt-5-nano":{"ai_languageModel":[[{"node":"Verificação","type":"ai_languageModel","index":0}]]},"AgenteTriagem":{"main":[[{"node":"CriarCard","type":"main","index":0}]]},"CriarCard":{"main":[[{"node":"NotificarEquipe","type":"main","index":0}]]},"BuscarListas":{"main":[[]]},"NotificarEquipe":{"main":[[{"node":"Aprovado?","type":"main","index":0}]]},"Aprovado?":{"main":[[{"node":"EnviarResposta","type":"main","index":0}],[{"node":"MoverCard1","type":"main","index":0}]]},"EnviarResposta":{"main":[[{"node":"MoverCard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57f8a840-3bbb-4d9a-ab82-0f89d461802c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-07T14:21:31.986Z","createdAt":"2026-07-07T14:21:31.986Z","role":"workflow:owner","workflowId":"Mi8z9B3LhP4UBxCa","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}