case---automação-marketing-6FUo8nFj4gij2IXQ.json
{"updatedAt":"2026-07-03T19:11:36.049Z","createdAt":"2026-07-03T14:52:06.713Z","id":"6FUo8nFj4gij2IXQ","name":"Case - automação marketing","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":21}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-16,0],"id":"29982d03-4d3c-45ea-9cd9-426d2a097b10","name":"Agendar21h"},{"parameters":{"documentId":{"__rl":true,"value":"1190GpjlOk9vIl7GcwBQcIdNN52_2scX1URGpQUjJX7E","mode":"list","cachedResultName":"Marketing (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1190GpjlOk9vIl7GcwBQcIdNN52_2scX1URGpQUjJX7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":280302251,"mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1190GpjlOk9vIl7GcwBQcIdNN52_2scX1URGpQUjJX7E/edit#gid=280302251"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"48e2e0d1-49be-496d-849d-bf7a390752ad","name":"BuscarConsultores","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"c1a50c00-eee2-4fe8-9298-461afab29440","name":"loop consultores"},{"parameters":{"documentId":{"__rl":true,"value":"1190GpjlOk9vIl7GcwBQcIdNN52_2scX1URGpQUjJX7E","mode":"list","cachedResultName":"Marketing (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1190GpjlOk9vIl7GcwBQcIdNN52_2scX1URGpQUjJX7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":123582476,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1190GpjlOk9vIl7GcwBQcIdNN52_2scX1URGpQUjJX7E/edit#gid=123582476"},"filtersUI":{"values":[{"lookupColumn":"Por qual consultor você foi atendido ? ","lookupValue":"={{ $json.Nome }}"},{"lookupColumn":"Data","lookupValue":"={{ $now.format('dd/MM/yyyy') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,16],"id":"828f9f1a-7843-46d1-98ee-9f61da68dacc","name":"BuscarAvaliacoes","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,16],"id":"6746bce6-bf8d-46ea-b832-1f9dc7c2f996","name":"dados"}],"connections":{"Agendar21h":{"main":[[{"node":"BuscarConsultores","type":"main","index":0}]]},"BuscarConsultores":{"main":[[{"node":"loop consultores","type":"main","index":0}]]},"loop consultores":{"main":[[],[{"node":"BuscarAvaliacoes","type":"main","index":0}]]},"BuscarAvaliacoes":{"main":[[{"node":"dados","type":"main","index":0}]]},"dados":{"main":[[{"node":"loop consultores","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"BuscarAvaliacoes":[{"json":{"row_number":2,"Carimbo de data/hora":"03/07/2026 11:58:40","Data":"03/07/2026","Endereço de e-mail":"lucas.amorim.porciuncula@gmail.com","Seu Nome":"Lucas","Por qual consultor você foi atendido ? ":"Amanda","Qual foi o principal objetivo da consultoria":"Desenvolvimento de Estratégia Digital","Extremamente Satisfeito(a)":10,"Avalie a performance do consultor nos seguintes aspectos: [Conhecimento Técnico e Expertise]":"Bom","Avalie a performance do consultor nos seguintes aspectos: [Capacidade de Entender as Necessidades do Negócio]":"Excelente","Avalie a performance do consultor nos seguintes aspectos: [Proatividade e Sugestão de Soluções Relevantes]":"Bom","Com que frequência você recomendaria este consultor para outras empresas?":"Sempre","Se houver, quais são as sugestões de melhoria para futuras consultorias?\n":"nada a acrescentar"},"pairedItem":{"item":0}}]},"versionId":"eb572b10-e4d9-4667-8cd6-43dd8c05d677","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-03T14:52:06.729Z","createdAt":"2026-07-03T14:52:06.729Z","role":"workflow:owner","workflowId":"6FUo8nFj4gij2IXQ","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}