erro---analisar-curriculo-vQq52RzH0b3RPqwc.json
{"updatedAt":"2026-07-01T19:23:47.194Z","createdAt":"2026-06-26T12:52:37.221Z","id":"vQq52RzH0b3RPqwc","name":"erro - analisar curriculo","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"=llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-176,208],"id":"cef704fa-fb60-4762-90ee-816b40ed5006","name":"Groq Chat Model","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"Curr_culo","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-320,0],"id":"a4f55c7e-ce25-4784-9ce4-49072e2fbe5d","name":"Extract from File"},{"parameters":{"model":"=llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-352,-272],"id":"b7cfc171-9f8f-4bd1-bcdb-d91f1a3e881c","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"promptType":"define","text":"=Crie uma análise qualitativa desse curriculum aqui:\n{{ $json.text }}\n","options":{"systemMessage":"Você é um avaliador de currículos para a vaga de Estagiário de TI do Grupo Vitalmed.\n\nStack valorizada: Python, SQL, JavaScript, Go, AdvPL, n8n, Power BI, IA.\nMetodologia: Scrum com ClickUp.\nPerfil esperado: visão analítica, interesse em integrações e automações, postura colaborativa.\n\nAnalise o currículo recebido e retorne EXATAMENTE neste formato, sem texto adicional:\n\n**PONTOS FORTES**\n- [ponto 1]\n- [ponto 2]\n- [ponto 3]\n\n**LACUNAS**\n- [ponto 1]\n- [ponto 2]\n\n**PARECER:** [Recomendado / Recomendado com ressalvas / Não recomendado]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-64,-16],"id":"cf777a78-3619-49f0-98a9-c5276f8823a3","name":"Resumir currículos"},{"parameters":{"content":"Agente responsável por analisar o currículo de forma qualitativa","height":480,"width":1072,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-672,-96],"typeVersion":1,"id":"09c1c8a3-9cee-48d8-8989-fc4929592a5d","name":"Sticky Note"},{"parameters":{"formTitle":"Vaga de programação","formDescription":"teste RH","formFields":{"values":[{"fieldLabel":"Nome:","requiredField":true},{"fieldLabel":"Currículo","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.6,"position":[-592,-16],"id":"9940c3e6-2d96-477c-a008-f9b43678ce3f","name":"formulário para RH","webhookId":"f769a874-71d9-48a3-854c-294a0b77ab5e"},{"parameters":{"jsonSchemaExample":"{\n\"match\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-80,-304],"id":"ff5fb0c8-553e-4401-ab50-1ea5c9909cde","name":"convertendo texto em JSON"},{"parameters":{"promptType":"define","text":"=o currículo do candidato é esse: {{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"Você é um avaliador de currículo para a vaga de estagiário de TI no Grupo Vitalmed.\nCom base nos requisitos da vaga, responda APENAS com JSON puro, sem texto adicional:\n{\"match\": true} se o currículo combina, ou {\"match\": false} caso contrário."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-256,-512],"id":"337b6d27-4b42-415d-b1d4-90d225e6d546","name":"Deu match com a vaga?"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[624,-176],"id":"08e202e4-b3c8-456b-b33d-3579baeb3478","name":"Merge"},{"parameters":{"content":"Verifica se o candidato deu match com a vaga ","height":448,"width":1072},"type":"n8n-nodes-base.stickyNote","position":[-672,-560],"typeVersion":1,"id":"c4f49ed7-3403-492d-8668-f3ad857b79b4","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"d19f0b40-727f-4e6a-85de-5fc53f9b5ef3","name":"match","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-512],"id":"bd42f771-91fa-43b2-bb9c-0187b13bf37f","name":"output para match"},{"parameters":{"assignments":{"assignments":[{"id":"a61d277b-3f21-404a-a7e3-75758e88aa07","name":"resumo","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,-16],"id":"738848ca-c12a-44e7-af05-9c2d2c6a273b","name":"output para resumo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"484c67af-e504-46a3-99aa-fb81efd6a0eb","leftValue":"={{ $json.match.match }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"96306701-7b23-4f67-8413-3994d513f6c9","leftValue":"={{ $json.resumo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[832,-176],"id":"324ed9b0-73fe-44a9-b5ce-f55e8038304b","name":"If"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Yf72HPdAz8vKc9mwatW6WOEUZblV0GS513FIGYFrhRc/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Yf72HPdAz8vKc9mwatW6WOEUZblV0GS513FIGYFrhRc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"match":"={{ $json.match }}","resumo":"={{ $json.resumo }}"},"matchingColumns":["match"],"schema":[{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resumo","displayName":"resumo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-272],"id":"48f382cc-1bfe-4a68-b743-e0b146ec6a1a","name":"Append or update row in sheet","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}},{"parameters":{"content":"Juntando saídas e mandando dados para o google sheets\n","height":528,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[416,-464],"typeVersion":1,"id":"2df35a43-fc9f-4011-935f-43abd94fc8d9","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[16,624],"id":"e9a04bb1-b816-4e08-a1bf-7ab5ee04b009","name":"Error Trigger"},{"parameters":{"fromEmail":"laporciuncula@vitalmed.com.br","toEmail":"laporciuncula@vitalmed.com.br","subject":"=❌ Falha ao salvar currículo no Sheets","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[416,624],"id":"d50fd4a0-fff4-4d21-b784-60b76a3c9f73","name":"Notificar erro por email","webhookId":"1b3a9885-e838-4c4c-bf51-e26e84970104","credentials":{"smtp":{"id":"wjdwANYN13tcveA0","name":"SMTP account"}}}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"Resumir currículos","type":"ai_languageModel","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Deu match com a vaga?","type":"ai_languageModel","index":0}]]},"Resumir currículos":{"main":[[{"node":"output para resumo","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Resumir currículos","type":"main","index":0},{"node":"Deu match com a vaga?","type":"main","index":0}]]},"formulário para RH":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"convertendo texto em JSON":{"ai_outputParser":[[{"node":"Deu match com a vaga?","type":"ai_outputParser","index":0}]]},"Deu match com a vaga?":{"main":[[{"node":"output para match","type":"main","index":0}]]},"output para match":{"main":[[{"node":"Merge","type":"main","index":0}]]},"output para resumo":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Notificar erro por email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"vQq52RzH0b3RPqwc","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"722b5b67-48ab-4c07-8efd-ff01ef19edc2","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-06-26T12:52:37.235Z","createdAt":"2026-06-26T12:52:37.235Z","role":"workflow:owner","workflowId":"vQq52RzH0b3RPqwc","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}