leitura-de-notas-fiscais-por-e-mail-QtmwAFBdDgdVG2Gb.json
{"updatedAt":"2026-07-13T20:36:52.595Z","createdAt":"2026-07-13T17:34:40.542Z","id":"QtmwAFBdDgdVG2Gb","name":"Leitura de Notas Fiscais por E-mail","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Procura apenas anexos PDF\nconst item = items[0];\nconst binaryKeys = item.binary ? Object.keys(item.binary) : [];\n\nlet nomesAnexos = [];\nlet temPdf = false;\nlet chavePdf = null;\n\nfor (const key of binaryKeys) {\n  const bin = item.binary[key];\n\n  const fileName = (bin.fileName || \"\").toLowerCase();\n  const mimeType = (bin.mimeType || \"\").toLowerCase();\n\n  const isPdf =\n    fileName.endsWith(\".pdf\") ||\n    mimeType === \"application/pdf\";\n\n  if (isPdf) {\n    nomesAnexos.push(bin.fileName || key);\n\n    if (!temPdf) {\n      temPdf = true;\n      chavePdf = key;\n    }\n  }\n}\n\nitem.json.anexos_nomes = nomesAnexos.join(\", \");\nitem.json.tem_anexo_pdf = temPdf;\nitem.json.anexo_binary_key = chavePdf;\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,576],"id":"a02d3d21-bcd9-444d-bca4-64d3644c324f","name":"Detectar Anexo PDF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1e2f3a4-2222-4b3c-8d4e-5f6a7b8c9d0e","leftValue":"={{ $json.tem_anexo_pdf }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,576],"id":"dc7ce6a9-3b0b-4fcf-94e1-1be494c5c416","name":"Tem Anexo PDF?"},{"parameters":{"assignments":{"assignments":[{"id":"e5f6a7b8-5555-4e6f-9a7b-8c9d0e1f2a3b","name":"anexo_conteudo","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,448],"id":"69d5f1e4-7fd5-4092-a4df-69b732493037","name":"Conteudo PDF Extraido"},{"parameters":{"assignments":{"assignments":[{"id":"a7b8c9d0-7777-4a8b-9c0d-1e2f3a4b5c6d","name":"anexo_conteudo","value":"={{ $('Code in JavaScript1').item.json.text }}","type":"string"},{"id":"387433f2-6418-4c42-a3ea-f4e58c243cd0","name":"email","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,688],"id":"3974cb2b-f21e-4acd-8b1e-8daefead802d","name":"Sem PDF"},{"parameters":{"assignments":{"assignments":[{"id":"c9d0e1f2-9999-4c0d-9e2f-3a4b5c6d7e8f","name":"prompt_usuario","value":"=Assunto do e-mail: {{ $json.assunto }}\n\nRemetente: {{ $json.remetente }}\n\nCorpo do e-mail:\n{{ $json.corpo }}\n\nNome dos anexos: {{ $json.anexos_nomes || 'Nenhum' }}\n\nConteúdo extraído dos anexos:\n{{ $('Conteudo PDF Extraido').item.json.anexo_conteudo || 'Nenhum' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,576],"id":"522ac688-e1a5-4fb5-a45a-9630cec9c6ed","name":"Montar Prompt IA"},{"parameters":{"jsCode":"// Faz o parse robusto do JSON retornado pela IA\nconst item = items[0];\n\nlet textoResposta = '';\nif (item.json.message && item.json.message.content) {\n  textoResposta = item.json.message.content;\n} else if (item.json.content) {\n  textoResposta = item.json.content;\n} else if (typeof item.json.text === 'string') {\n  textoResposta = item.json.text;\n} else {\n  textoResposta = JSON.stringify(item.json);\n}\n\ntextoResposta = textoResposta.replace(/```json/gi, '').replace(/```/g, '').trim();\n\nlet resultado;\ntry {\n  resultado = JSON.parse(textoResposta);\n} catch (e) {\n  resultado = {\n    is_nota_fiscal: false,\n    motivo: 'Falha ao interpretar resposta da IA: ' + e.message,\n    dados: null\n  };\n}\n\nreturn [{ json: resultado }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,576],"id":"418de95a-1b88-435e-a758-660dc5959227","name":"Parse Resposta IA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3b4c5d6-1313-4a4b-9c6d-7e8f90123456","leftValue":"={{ $json.output.is_nota_fiscal }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,576],"id":"02a5e7ba-59e4-46d8-976b-a8d1eb1bf9c3","name":"É Nota Fiscal?"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ufh3HnbXVaNnB7PggO6N6L-zCNXgi1_F4ZJHR4Uq2vw","mode":"list","cachedResultName":"Notas Fiscais","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ufh3HnbXVaNnB7PggO6N6L-zCNXgi1_F4ZJHR4Uq2vw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"NFS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ufh3HnbXVaNnB7PggO6N6L-zCNXgi1_F4ZJHR4Uq2vw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Número Nota":"={{ $json.output.dados.numero_nota }}","Observações":"={{ $json.output.dados.observacoes }}","Forma Pagamento":"={{ $json.output.dados.forma_pagamento }}","PIX":"={{ $json.output.dados.pix }}","Conta":"={{ $json.output.dados.conta }}","Agência":"={{ $json.output.dados.agencia }}","Banco":"={{ $json.output.dados.banco }}","Vencimento":"={{ $json.output.dados.vencimento }}","Quantidade Premiados":"={{ $json.output.dados.quantidade_premiados }}","Valor Total Nota":"={{ $json.output.dados.valor_total_nota }}","Valor Repasse Terceiros":"={{ $json.output.dados.valor_repasse_terceiros }}","Valor Reembolso":"={{ $json.output.dados.valor_reembolso }}","Valor Administração":"={{ $json.output.dados.valor_administracao }}","Valor Premiação":"={{ $json.output.dados.valor_premiacao }}","Alíquota ISS":"={{ $json.output.dados.aliquota_iss }}","Código Serviço":"={{ $json.output.dados.codigo_servico }}","Descrição Serviço":"={{ $json.output.dados.descricao_servico }}","UF Tomador":"={{ $json.output.dados.uf_tomador }}","Município Tomador":"={{ $json.output.dados.municipio_tomador }}","CNPJ Tomador":"={{ $json.output.dados.cnpj_tomador }}","Tomador":"={{ $json.output.dados.tomador }}","UF Prestador":"={{ $json.output.dados.uf_prestador }}","Município Prestador":"={{ $json.output.dados.municipio_prestador }}","CNPJ Prestador":"={{ $json.output.dados.cnpj_prestador }}","Prestador":"={{ $json.output.dados.prestador }}","Número RPS":"={{ $json.output.dados.numero_rps }}","Data RPS":"={{ $json.output.dados.data_rps }}","Hora Emissão":"={{ $json.output.dados.hora_emissao }}","Data Emissão":"={{ $json.output.dados.data_emissao }}","Código Autenticidade":"={{ $json.output.dados.codigo_autenticidade }}","Série":"={{ $json.output.dados.serie }}","E-mail Remetente":"={{ $('Edit Fields1').item.json.remetente }}","Assunto":"={{ $('Edit Fields1').item.json.assunto }}","Data Recebimento":"={{\nnew Date($('Code in JavaScript1').item.json.headers.date)\n  .toLocaleString('pt-BR', {\n    timeZone: 'America/Sao_Paulo'\n  })\n}}"},"matchingColumns":["Número Nota"],"schema":[{"id":"Data Recebimento","displayName":"Data Recebimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail Remetente","displayName":"E-mail Remetente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Assunto","displayName":"Assunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número Nota","displayName":"Número Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Série","displayName":"Série","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Código Autenticidade","displayName":"Código Autenticidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Emissão","displayName":"Data Emissão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora Emissão","displayName":"Hora Emissão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data RPS","displayName":"Data RPS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número RPS","displayName":"Número RPS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prestador","displayName":"Prestador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ Prestador","displayName":"CNPJ Prestador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Município Prestador","displayName":"Município Prestador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UF Prestador","displayName":"UF Prestador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tomador","displayName":"Tomador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ Tomador","displayName":"CNPJ Tomador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Município Tomador","displayName":"Município Tomador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UF Tomador","displayName":"UF Tomador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição Serviço","displayName":"Descrição Serviço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Código Serviço","displayName":"Código Serviço","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alíquota ISS","displayName":"Alíquota ISS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Premiação","displayName":"Valor Premiação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Administração","displayName":"Valor Administração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Reembolso","displayName":"Valor Reembolso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Repasse Terceiros","displayName":"Valor Repasse Terceiros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Total Nota","displayName":"Valor Total Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quantidade Premiados","displayName":"Quantidade Premiados","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Banco","displayName":"Banco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Agência","displayName":"Agência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Conta","displayName":"Conta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PIX","displayName":"PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Forma Pagamento","displayName":"Forma Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações","displayName":"Observações","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Processado Em","displayName":"Processado Em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1792,384],"id":"505bc26b-c124-4f2e-84d2-9cfd7f019e40","name":"Salvar na Planilha","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,784],"id":"ba32b1ab-8406-4e69-b069-be3a33455b9c","name":"Ignorar (não é nota)"},{"parameters":{"mailbox":"INBOX/TESTE","format":"resolved","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-880,576],"id":"1ebd6a33-e854-4977-bd80-de3edb68928a","name":"Email Trigger (IMAP)1","credentials":{"imap":{"id":"ONpURfrs014bgt86","name":"IMAP account"}}},{"parameters":{"jsCode":"// Corrige e-mails que chegam com encoding trocado (mojibake),\n// deixando tudo em UTF-8 padrão Brasil (aceita ç, ã, õ, á, é, ~, ^ etc.)\n\nfunction corrigirTexto(str) {\n  if (typeof str !== 'string' || str.length === 0) return str;\n\n  const temMojibake = /Ã[\\x80-\\xBF]|Â[\\x80-\\xBF]/.test(str);\n  if (!temMojibake) return str;\n\n  try {\n    const corrigido = Buffer.from(str, 'latin1').toString('utf8');\n    if (!corrigido.includes('\\uFFFD')) return corrigido;\n  } catch (e) {\n    // se der erro, mantém o texto original\n  }\n  return str;\n}\n\nfunction corrigirObjeto(obj, profundidade = 0) {\n  if (profundidade > 2 || obj === null || typeof obj !== 'object') return obj;\n  for (const chave of Object.keys(obj)) {\n    const valor = obj[chave];\n    if (typeof valor === 'string') {\n      obj[chave] = corrigirTexto(valor);\n    } else if (typeof valor === 'object' && valor !== null) {\n      corrigirObjeto(valor, profundidade + 1);\n    }\n  }\n  return obj;\n}\n\nreturn items.map(item => {\n  corrigirObjeto(item.json);\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,576],"id":"d676b1bf-a0cd-4c86-8c09-09398d2a90e9","name":"Code in JavaScript1"},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $json.anexo_binary_key }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[0,448],"id":"4a39031a-f67a-4b29-a5d0-52a0b8fea521","name":"Extract from File1"},{"parameters":{"assignments":{"assignments":[{"id":"3a47fb33-7eec-4075-b065-b0974e556dff","name":"corpo","value":"={{ $('Code in JavaScript1').item.json.text }}","type":"string"},{"id":"a5414f44-2933-47b4-af72-8d6191941059","name":"remetente","value":"={{ $('Code in JavaScript1').item.json.from.value[0].address }} || {{ $('Code in JavaScript1').item.json.from.value[0].name }}","type":"string"},{"id":"8d90323c-8d0d-4e08-a9fb-ac506f927f7d","name":"assunto","value":"={{ $('Code in JavaScript1').item.json.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,576],"id":"28aa83eb-b5f9-4028-bddb-693584714406","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=Analise essas informações {{ $json.prompt_usuario }}\n\n","hasOutputParser":true,"options":{"systemMessage":"Você é um assistente especializado em analisar e extrair informações de documentos fiscais recebidos por e-mail.\n\nVocê receberá:\n- Assunto do e-mail;\n- Corpo do e-mail;\n- Nome dos anexos;\n- Conteúdo extraído do PDF (quando existir).\n\nSua tarefa possui duas etapas.\n\n==========================\nETAPA 1 - CLASSIFICAÇÃO\n==========================\nDetermine se o e-mail contém uma Nota Fiscal.\n\nConsidere como Nota Fiscal quando houver evidências como:\n- Nota Fiscal\n- NFSe\n- NFS-e\n- NF-e\n- DANFE\n- Prefeitura\n- Secretaria de Finanças\n- Prestador\n- Tomador\n- CNPJ\n- Número da Nota\n- Código de Verificação\n- Código de Autenticidade\n- Valor Total da Nota\n- PDF de Nota Fiscal\n- XML da Nota\n\nTambém considere como Nota Fiscal quando o e-mail contiver um link oficial para consulta ou download da nota.\n\nCaso o e-mail trate apenas de assuntos como:\n- propaganda;\n- marketing;\n- reuniões;\n- respostas automáticas;\n- conversas internas;\n- cobrança sem nota fiscal;\n- contratos;\n- currículos;\n- qualquer outro assunto que não seja uma Nota Fiscal;\n\nretorne is_nota_fiscal = false, motivo explicando o porquê, e o objeto \"dados\" com TODOS os campos preenchidos como string vazia \"\" (nunca omita o objeto \"dados\" e nunca retorne null no lugar dele).\n\n==========================\nETAPA 2 - EXTRAÇÃO\n==========================\nSe for uma Nota Fiscal, extraia todas as informações disponíveis utilizando prioritariamente:\n1. O conteúdo do PDF, quando existir;\n2. Caso não exista PDF, utilize o conteúdo do corpo do e-mail.\n\nNunca invente informações. Se um campo não existir no documento, retorne string vazia \"\" (nunca null).\n\nRegras de formatação (todos os campos de \"dados\" são texto/string):\n- Datas no formato YYYY-MM-DD.\n- Horários no formato HH:mm:ss.\n- Valores monetários e percentuais (aliquota_iss): apenas dígitos e ponto decimal, sem \"R$\", sem separador de milhares e sem vírgula. Ex: \"2810.64\", não \"2.810,64\" nem \"R$ 2.810,64\".\n- Quantidades (quantidade_premiados): string contendo apenas o número inteiro. Ex: \"1\".\n- Preserve números de nota e RPS exatamente como aparecem no documento, incluindo zeros à esquerda. Ex: \"0036390\", não \"36390\".\n- Preserve exatamente os nomes das empresas e os CNPJs como encontrados no documento.\n- Não realize cálculos. Não faça interpretações. Apenas extraia informações presentes no documento.\n\nA resposta deve seguir exatamente o formato definido pelo Output Parser. Não adicione comentários, explicações ou texto fora da estrutura esperada."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[880,576],"id":"a6a9e916-e004-4aea-9e2f-961d3ac23dd5","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[816,800],"id":"8f56507d-135a-4b40-9035-ff98dc3067ec","name":"Groq Chat Model","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"is_nota_fiscal\": true,\n  \"motivo\": \"Nota fiscal identificada.\",\n  \"dados\": {\n    \"numero_nota\": \"0036390\",\n    \"serie\": \"1\",\n    \"codigo_autenticidade\": \"157W.4917.0479.9496399-W\",\n    \"data_emissao\": \"2026-07-13\",\n    \"hora_emissao\": \"14:09:00\",\n    \"data_rps\": \"2026-07-13\",\n    \"numero_rps\": \"0000036274\",\n    \"prestador\": \"WITT COMPANY MARKETING PROMOCIONAL INCENTIVO PUBLICIDADE E PROPAGANDA LTDA\",\n    \"cnpj_prestador\": \"21.558.969/0003-14\",\n    \"municipio_prestador\": \"Barueri\",\n    \"uf_prestador\": \"SP\",\n    \"tomador\": \"VITALMED - SERVICOS DE EMERGENCIA MEDICA LTDA\",\n    \"cnpj_tomador\": \"96.706.718/0001-77\",\n    \"municipio_tomador\": \"Salvador\",\n    \"uf_tomador\": \"BA\",\n    \"descricao_servico\": \"Agenciamento de publicidade e propaganda\",\n    \"codigo_servico\": \"100801220\",\n    \"aliquota_iss\": \"2.00\",\n    \"valor_premiacao\": \"2768.36\",\n    \"valor_administracao\": \"41.53\",\n    \"valor_reembolso\": \"0.75\",\n    \"valor_repasse_terceiros\": \"2769.11\",\n    \"valor_total_nota\": \"2810.64\",\n    \"quantidade_premiados\": \"1\",\n    \"vencimento\": \"2026-07-23\",\n    \"forma_pagamento\": \"\",\n    \"banco\": \"341 - ITAU\",\n    \"agencia\": \"0454\",\n    \"conta\": \"99317-1\",\n    \"pix\": \"21.558.969/0003-14\",\n    \"observacoes\": \"ISSQN devido a: BARUERI-SP\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1056,784],"id":"b75226ff-af11-462d-9cb0-de3bcedb21c9","name":"Structured Output Parser"}],"connections":{"Detectar Anexo PDF":{"main":[[{"node":"Tem Anexo PDF?","type":"main","index":0}]]},"Tem Anexo PDF?":{"main":[[{"node":"Extract from File1","type":"main","index":0}],[{"node":"Sem PDF","type":"main","index":0}]]},"Conteudo PDF Extraido":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Sem PDF":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Parse Resposta IA":{"main":[[{"node":"É Nota Fiscal?","type":"main","index":0}]]},"É Nota Fiscal?":{"main":[[{"node":"Salvar na Planilha","type":"main","index":0}],[{"node":"Ignorar (não é nota)","type":"main","index":0}]]},"Email Trigger (IMAP)1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Detectar Anexo PDF","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Conteudo PDF Extraido","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Montar Prompt IA","type":"main","index":0}]]},"Montar Prompt IA":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Parse Resposta IA","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Email Trigger (IMAP)1":[{"json":{"headers":{"return-path":"Return-Path: <0100019f5c75060c-ae8d80ac-19a7-46c2-b319-fd9ae2ed92be-000000@amazonses.com>","received":"Received: from a43-42.smtp-out.amazonses.com (a43-42.smtp-out.amazonses.com [54.240.43.42])\r\n\t(using TLSv1.2 with cipher AES128-SHA256 (128/128 bits))\r\n\t(No client certificate requested)\r\n\tby protection.vitalmed.com.br (Email Protection) with ESMTPS id 7CD86430681B\r\n\tfor <laporciuncula@vitalmed.com.br>; Mon, 13 Jul 2026 14:10:01 -0300 (BRT)","x-virus-scanned":"X-Virus-Scanned: amavis at prxmta-node01rc9.houseti.net.br","x-spam-virus-scanned":"X-SPAM-VIRUS-Scanned: Email Protection System Ver 4.1 at\r\n\tprotection.vitalmed.com.br","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple;\r\n\ts=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1783962601;\r\n\th=Date:From:Reply-To:To:Message-ID:Subject:Mime-Version:Content-Type:Content-Transfer-Encoding:Feedback-ID;\r\n\tbh=3mi2RngSAaafmDGQtwA3rCteUtc6/Yf2Y5ZbHBCi3r0=;\r\n\tb=jkro7UlPj+ThX7VmYx9tQc5/qwLygRj3pkOE5a59SE28B7dkfLA3Lz8F2YblqDsF\r\n\tW1A30GA5KCK6rI903Ccu4NFERAa6+E+f/e+pnVbQtE71JYx0l2hujgu15d04CPepv33\r\n\tckY2RRqGfx+K11Q9DABjOvwme38u7Coaehp16QoE=","date":"Date: Mon, 13 Jul 2026 17:10:01 +0000","from":"From: WITT CO <naoresponda@acras.com.br>","reply-to":"Reply-To: financeiro@wittcompany.com.br","to":"To: laporciuncula@vitalmed.com.br","message-id":"Message-ID: <0100019f5c75060c-ae8d80ac-19a7-46c2-b319-fd9ae2ed92be-000000@email.amazonses.com>","subject":"Subject: NFSe 36390 emitida por WITT CO (21.558.969/0003-14)","mime-version":"Mime-Version: 1.0","content-type":"Content-Type: multipart/alternative;\r\n boundary=\"--==_mimepart_6a551be734824_cf7d48a8-425\";\r\n charset=UTF-8","content-transfer-encoding":"Content-Transfer-Encoding: 7bit","feedback-id":"Feedback-ID: ::1.us-east-1.0Rk+YqOo6C6yPiISvTLHWCBolrKgk5+ytQlgmNUbEjQ=:AmazonSES","x-ses-outgoing":"X-SES-Outgoing: 2026.07.13-54.240.43.42","x-spam-level-scl":"X-SPAM-LEVEL-SCL: -1"},"html":"<p>Olá,</p>\n\n<p>Seguem abaixo informações de NFSe do município de Barueri emitida para VITALMED - SERVICOS DE EMERGENCIA MEDICA LTDA:</p>\n\n<ul>\n  <li>Número: 36390</li>\n  <li>Data: 13/07/2026</li>\n  <li>Código de verificacao: 157W.4917.0479.9496399-W</li>\n</ul>\n\n<p>Prestador:</p>\n\n<ul>\n  <li>Razão social: WITT COMPANY MARKETING PROMOCIONAL INCENTIVO PUBLICIDADE E PROPAGANDA LTDA</li>\n  <li>CNPJ: 21.558.969/0003-14</li>\n  <li>Inscrição municipal: 4BA5896</li>\n</ul>\n\n<p>Para visualizar a NFSe, utilize o link abaixo:</p>\n<div style=\"margin-left: 40px;\">\n  <a href=\"https://www.barueri.sp.gov.br/nfe/wfimagemNota.aspx?CODIGOAUTENTICIDADE=157W.4917.0479.9496399-W&NUMDOC=96706718000177\">https://www.barueri.sp.gov.br/nfe/wfimagemNota.aspx?CODIGOAUTENTICIDADE=157W.4917.0479.9496399-W&NUMDOC=96706718000177</a>\n</div>\n\n<p>Informações sobre autenticidade também podem ser obtidas pelo link a seguir:</p>\n\n<div style=\"margin-left: 40px;\">\n  <a href=\"https://www.barueri.sp.gov.br/nfe/\">https://www.barueri.sp.gov.br/nfe/</a>\n</div>\n\n<br />\n<div style=\"color: #888888\">\n—<br />\nEste e-mail foi enviado automaticamente pelo sistema Focus NFe (<a href=\"http://www.focusnfe.com.br/\">www.focusnfe.com.br</a>)\n - Por favor não responda este email.\n</div>\n","text":"Olá,\n\nSeguem abaixo informações de NFSe do município de Barueri emitida para VITALMED - SERVICOS DE EMERGENCIA MEDICA LTDA:\n\n  - Número: 36390\n  - Data: 13/07/2026\n  - Código de verificação: 157W.4917.0479.9496399-W\n\nPrestador:\n\n  - Razão social: WITT COMPANY MARKETING PROMOCIONAL INCENTIVO PUBLICIDADE E PROPAGANDA LTDA\n  - CNPJ: 21.558.969/0003-14\n  - Inscrição municipal: 4BA5896\n\nPara visualizar a NFSe, utilize o link abaixo:\n\n  https://www.barueri.sp.gov.br/nfe/wfimagemNota.aspx?CODIGOAUTENTICIDADE=157W.4917.0479.9496399-W&NUMDOC=96706718000177\n\nInformações sobre autenticidade também podem ser obtidas pelo link a seguir:\n\n  https://www.barueri.sp.gov.br/nfe/\n\n\n--\nEste e-mail foi enviado automaticamente pelo sistema Focus NFe (www.focusnfe.com.br)\n - Por favor não responda este email.\n","textAsHtml":"<p>Ol&aacute;,</p><p>Seguem abaixo informa&ccedil;&otilde;es de NFSe do munic&iacute;pio de Barueri emitida para VITALMED - SERVICOS DE EMERGENCIA MEDICA LTDA:</p><p>  - N&uacute;mero: 36390<br/>  - Data: 13/07/2026<br/>  - C&oacute;digo de verifica&ccedil;&atilde;o: 157W.4917.0479.9496399-W</p><p>Prestador:</p><p>  - Raz&atilde;o social: WITT COMPANY MARKETING PROMOCIONAL INCENTIVO PUBLICIDADE E PROPAGANDA LTDA<br/>  - CNPJ: 21.558.969/0003-14<br/>  - Inscri&ccedil;&atilde;o municipal: 4BA5896</p><p>Para visualizar a NFSe, utilize o link abaixo:</p><p>  <a href=\"https://www.barueri.sp.gov.br/nfe/wfimagemNota.aspx?CODIGOAUTENTICIDADE=157W.4917.0479.9496399-W&NUMDOC=96706718000177\">https://www.barueri.sp.gov.br/nfe/wfimagemNota.aspx?CODIGOAUTENTICIDADE=157W.4917.0479.9496399-W&amp;NUMDOC=96706718000177</a></p><p>Informa&ccedil;&otilde;es sobre autenticidade tamb&eacute;m podem ser obtidas pelo link a seguir:</p><p>  <a href=\"https://www.barueri.sp.gov.br/nfe/\">https://www.barueri.sp.gov.br/nfe/</a></p><p>--<br/>Este e-mail foi enviado automaticamente pelo sistema Focus NFe (<a href=\"http://www.focusnfe.com.br\">www.focusnfe.com.br</a>)<br/> - Por favor n&atilde;o responda este email.</p>","subject":"NFSe 36390 emitida por WITT CO (21.558.969/0003-14)","date":"2026-07-13T17:10:01.000Z","to":{"value":[{"address":"laporciuncula@vitalmed.com.br","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:laporciuncula@vitalmed.com.br\" class=\"mp_address_email\">laporciuncula@vitalmed.com.br</a></span>","text":"laporciuncula@vitalmed.com.br"},"from":{"value":[{"address":"naoresponda@acras.com.br","name":"WITT CO"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">WITT CO</span> &lt;<a href=\"mailto:naoresponda@acras.com.br\" class=\"mp_address_email\">naoresponda@acras.com.br</a>&gt;</span>","text":"\"WITT CO\" <naoresponda@acras.com.br>"},"messageId":"<0100019f5c75060c-ae8d80ac-19a7-46c2-b319-fd9ae2ed92be-000000@email.amazonses.com>","replyTo":{"value":[{"address":"financeiro@wittcompany.com.br","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:financeiro@wittcompany.com.br\" class=\"mp_address_email\">financeiro@wittcompany.com.br</a></span>","text":"financeiro@wittcompany.com.br"},"attributes":{"uid":9380}},"pairedItem":{"item":0}}]},"versionId":"fe583ffe-7bfc-4f05-89d6-2f5f005f1228","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-13T17:34:40.557Z","createdAt":"2026-07-13T17:34:40.557Z","role":"workflow:owner","workflowId":"QtmwAFBdDgdVG2Gb","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}