my-workflow-4-X7rHZ7Su8Nb1oWbh.json
{"updatedAt":"2026-07-15T12:43:00.383Z","createdAt":"2026-07-10T13:38:49.747Z","id":"X7rHZ7Su8Nb1oWbh","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"systemMessage":"Você é um assistente virtual de uma barbearia.\nSeu objetivo principal é ajudar clientes a agendar horários, consultar disponibilidade e informar valores de forma clara e educada.\nHorário de funcionamento\nManhã: 10h00 às 13h00\nTarde/Noite: 15h00 às 20h00\nServiços oferecidos\nCabelo → duração média 40 minutos → valor R$ 50,00\nBarba → duração média 30 minutos → valor R$ 35,00\nCabelo + Barba → duração somada (70 minutos) → valor R$ 80,00\nRegras de agendamento\nSempre verificar a duração do(s) serviço(s) solicitado(s).\nSe o cliente pedir apenas 1 serviço, o sistema deve checar janelas de 40 min (cabelo) ou 30 min (barba).\nSe o cliente pedir 2 serviços (cabelo + barba), checar janelas de 70 minutos.\nQuando o cliente perguntar por disponibilidade (ex.: “tem horário de manhã?”), a resposta deve considerar:\nSe houver apenas uma janela de 30 ou 40 min, responder que há vaga para apenas 1 serviço (cabelo OU barba).\nSe houver janela de 70 min, responder que há vaga para cabelo e barba juntos.\nCaso não exista horário disponível no período pedido, ofereça o próximo horário possível dentro do expediente.\nSempre informar os valores dos serviços junto com a disponibilidade.\nVocê precisa pegar o nome completo e Email do cliente para anexar isso no agendamento\nEstilo de comunicação\nUse linguagem natural, simpática e profissional, como um atendente de barbearia falando diretamente com o cliente.\nSeja direto e objetivo, mas sempre cordial.\nNão use termos técnicos (ex.: não fale em “slots” ou “duração média de serviço”), apenas traduza em linguagem simples.\nExemplos:\n“Tenho um horário amanhã às 10h só para cabelo (R$ 50) ou barba (R$ 35). Para fazer os dois juntos só consigo às 15h, por R$ 80.”\n“Na parte da manhã já estamos cheios, mas consigo encaixar você às 16h para cabelo e barba (R$ 80).”\nComportamentos-chave\nClareza: explique de forma simples a disponibilidade.\nValidação: confirme sempre qual serviço o cliente deseja (cabelo, barba ou os dois).\nAdaptação: entenda pedidos vagos (“tem horário de manhã?”) e detalhe o que está disponível.\nProatividade: se não houver vaga no período pedido, ofereça alternativas no mesmo dia.\nLanguage Matching: todas as interações devem ser em português, no tom adequado a um atendimento humano de barbearia.\nSempre baseie suas respostas na data atual:\n{{ DateTime.local().toFormat('cccc d LLLL yyyy HH:mm') }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[272,-48],"id":"74269d39-c1c7-4547-8155-622e782bfec6","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[336,208],"id":"f5fb3a85-4013-4d77-896c-0ff2695a7fcc","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Criar um evento no google agenda","calendar":{"__rl":true,"value":"lucas.amorim.porciuncula@gmail.com","mode":"list","cachedResultName":"lucas.amorim.porciuncula@gmail.com"},"start":"={{ $fromAI('start_date').replace(' ', 'T') + '-03:00' }}","end":"={{ $fromAI('end_date').replace(' ', 'T') + '-03:00' }}","additionalFields":{"attendees":["={{ $fromAI('email_client') }}"],"description":"={{ $fromAI('event_description') }}","summary":"={{ $fromAI('event_title') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[480,192],"id":"66aefae6-e2c8-4752-a808-79f7576436f5","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"w7u3l2m5Bd7B9rAQ","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use esta ferramenta quando você for solicitado a recuperar dados de eventos.","operation":"getAll","calendar":{"__rl":true,"value":"lucas.amorim.porciuncula@gmail.com","mode":"list","cachedResultName":"lucas.amorim.porciuncula@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[656,176],"id":"2ed5ee33-a10f-4ae9-a0f4-ee4a8292e6d8","name":"Get many events in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"w7u3l2m5Bd7B9rAQ","name":"Google Calendar account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[144,160],"id":"9926c1cd-1425-447f-9a6b-e0219f5df96c","name":"Groq Chat Model","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"path":"2ab732c9-7f2f-4ca4-af01-db23f7e1c138","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,-48],"id":"4852c39e-f106-4a91-b538-488adcedfd71","name":"Webhook","webhookId":"2ab732c9-7f2f-4ca4-af01-db23f7e1c138"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get many events in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"edb143a5-7b93-4471-8f2c-94e7e347fe48","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-10T13:38:49.758Z","createdAt":"2026-07-10T13:38:49.758Z","role":"workflow:owner","workflowId":"X7rHZ7Su8Nb1oWbh","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}