pipeline-de-automação-zUzGNNEahuRB1RGs.json
{"updatedAt":"2026-07-14T20:25:30.899Z","createdAt":"2026-07-08T16:05:21.615Z","id":"zUzGNNEahuRB1RGs","name":"pipeline de automação","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"sender":"laporciuncula@vitalmed.com.br"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[-32,-176],"id":"239f65b3-5d62-43f8-a7d3-00ae488962d2","name":"EmailRecebido","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9c3c0672-cca9-4584-9333-d6355395728f","name":"nome","value":"={{ $json.from.value[0].name }}","type":"string"},{"id":"ea675846-01e4-4a26-a7de-0217c8c3bbd9","name":"email","value":"={{ $json.from.value[0].address }}","type":"string"},{"id":"3c2f7b40-2e8d-4cc2-9e70-fc92dd0212bc","name":"assunto","value":"={{ $json.subject }}","type":"string"},{"id":"c374a62b-275e-4cc3-9229-ad7d6d106306","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-176],"id":"a63fb076-c578-4cef-8750-2e541153c302","name":"Edit Fields"},{"parameters":{"text":"=Assunto: {{ $json.assunto }}\nCliente: {{ $json.nome }} - {{ $json.email }}\n\nCorpo do email:\n\n{{ $json.texto }}","attributes":{"attributes":[{"name":"nome_cliente","description":"nome do cliente"},{"name":"item_mencionado","description":"produto ou serviço mencionando no e-mail, se não encontrar, \"Não especificado\"."},{"name":"ponto_principal","description":"Principal problema, objetivo, reclamação, sugestão ou elogio da mensagem. Em uma frase objetiva"},{"name":"urgente","type":"boolean","description":"Indica se é uma mensagem urgente ou não.","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[416,-176],"id":"cb65c409-ac79-4c9d-b938-a020b66ae945","name":"extrairDados"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[496,48],"id":"56182cca-2bed-451c-9c01-e3ec0ba124f8","name":"llama-3.3-70b-versatile","credentials":{"groqApi":{"id":"g2VTJdBA6ucH7NvO","name":"Groq account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e9786f66-5997-47fb-a0de-9e6e7f688751","leftValue":"={{ $json.output.urgente }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[768,-176],"id":"46e8d603-8e42-421e-89f8-93f458f44d2d","name":"Urgente?"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BG5T2E606","mode":"list","cachedResultName":"toda-a-empresa-lapltda"},"text":"=*FEEDBACK URGENTE RECEBIDO*\n\ncliente:{{ $json.output.nome_cliente }}\nitem mencionado:{{ $json.output.item_mencionado }}\nPonto Principal:{{ $json.output.ponto_principal }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1056,-288],"id":"dfec30a2-b80b-4a0d-ae9d-a6aa3551ba19","name":"EnviarUrgencia","webhookId":"73f64ba1-b2b5-475d-9b6b-b8f19b1cf46d","credentials":{"slackApi":{"id":"kz4jz8EqHUUihm7Y","name":"slack - pessoal"}}},{"parameters":{"inputText":"={{ $('Edit Fields').item.json.texto }}","categories":{"categories":[{"category":"Bug","description":"Problemas técnicos. QUnado o cliente relata alguma falha no produto"},{"category":"Reclamação","description":"Insatisfação geral. Quando o cliente solicita reembolso ou está insatisfeito com o produto"},{"category":"Elogio","description":"Feedback Positivo"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1344,-80],"id":"68f13296-a470-46e5-a01a-1daef38df548","name":"categorizarFeedback"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BFSGNE58F","mode":"list","cachedResultName":"fb-bugs"},"text":"=🚨 **Novo bug reportado**\n\n**👤 Cliente:** {{ $json.output.nome_cliente }}\n**📦 Produto:** {{ $('extrairDados').item.json.output.item_mencionado }}\n\n**🐞 Problema**\n{{ $('extrairDados').item.json.output.ponto_principal }}\n\nAlguém consegue investigar esse caso, por favor?\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1920,-368],"id":"215a793f-10b4-422c-8dce-26f9f3e198c3","name":"enviarBug","webhookId":"d76e082a-3c98-49ea-bc3d-57f4b511103e","credentials":{"slackApi":{"id":"kz4jz8EqHUUihm7Y","name":"slack - pessoal"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1cfc73d-3e8f-449e-a1b5-377f6abd4f5d","name":"categoria","value":"bug","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,-368],"id":"fb36ff09-fb36-46ce-b2a8-8f67acefaa63","name":"categoriaBug"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BGBKDGDQU","mode":"list","cachedResultName":"fb_reclamacoes"},"text":"=🚨 **Nova reclamação reportado**\n\n**👤 Cliente:** {{ $json.output.nome_cliente }}\n**📦 Produto:** {{ $('extrairDados').item.json.output.item_mencionado }}\n\n**🐞 Problema**\n{{ $('extrairDados').item.json.output.ponto_principal }}\n\nAlguém consegue investigar esse caso, por favor?\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1696,-176],"id":"b14ed904-5cad-4529-b4ab-ac6dc3f24a89","name":"enviarReclamação","webhookId":"d76e082a-3c98-49ea-bc3d-57f4b511103e","credentials":{"slackApi":{"id":"kz4jz8EqHUUihm7Y","name":"slack - pessoal"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BGBKFJX1S","mode":"list","cachedResultName":"fb-elogios"},"text":"=🚨 **Novo elogio reportado**\n\n**👤 Cliente:** {{ $json.output.nome_cliente }}\n**📦 Produto:** {{ $('extrairDados').item.json.output.item_mencionado }}\n\n**🐞 Problema**\n{{ $('extrairDados').item.json.output.ponto_principal }}\n\nAlguém consegue investigar esse caso, por favor?\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1920,16],"id":"b11fe0f2-0a0c-4381-9cf2-ded626d317c0","name":"enviarElogio","webhookId":"d76e082a-3c98-49ea-bc3d-57f4b511103e","credentials":{"slackApi":{"id":"kz4jz8EqHUUihm7Y","name":"slack - pessoal"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0BH2805XEU","mode":"list","cachedResultName":"fb-sugestoes"},"text":"=🚨 **Novo outro reportado**\n\n**👤 Cliente:** {{ $json.output.nome_cliente }}\n**📦 Produto:** {{ $('extrairDados').item.json.output.item_mencionado }}\n\n**🐞 Problema**\n{{ $('extrairDados').item.json.output.ponto_principal }}\n\nAlguém consegue investigar esse caso, por favor?\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1920,208],"id":"e1633e7b-af30-4494-9168-b0c4422aa9f9","name":"enviarOutro","webhookId":"d76e082a-3c98-49ea-bc3d-57f4b511103e","credentials":{"slackApi":{"id":"kz4jz8EqHUUihm7Y","name":"slack - pessoal"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1cfc73d-3e8f-449e-a1b5-377f6abd4f5d","name":"categoria","value":"reclamação","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,-176],"id":"44bf7b16-790d-4bc4-8333-34cad1b5da1e","name":"categoriaReclamacao"},{"parameters":{"assignments":{"assignments":[{"id":"d1cfc73d-3e8f-449e-a1b5-377f6abd4f5d","name":"categoria","value":"elogio","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,16],"id":"cdc66a5f-bf92-4a3a-a6d5-d106b99cb43d","name":"categoriaElogio"},{"parameters":{"assignments":{"assignments":[{"id":"d1cfc73d-3e8f-449e-a1b5-377f6abd4f5d","name":"categoria","value":"Outro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2144,208],"id":"88693795-e90e-42ce-9955-1b576ca6aa20","name":"categoriaOutro"},{"parameters":{"operation":"reply","messageId":"={{ $('EmailRecebido').item.json.id }}","message":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Recebemos sua mensagem</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f4f6f8;\n            margin: 0;\n            padding: 0;\n            -webkit-font-smoothing: antialiased;\n        }\n        .wrapper {\n            width: 100%;\n            table-layout: fixed;\n            background-color: #f4f6f8;\n            padding-bottom: 40px;\n            padding-top: 40px;\n        }\n        .container {\n            max-width: 600px;\n            background-color: #ffffff;\n            margin: 0 auto;\n            border-radius: 8px;\n            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);\n            border-top: 4px solid #e74c3c; /* Barra vermelha discreta que indica atenção/suporte */\n            overflow: hidden;\n        }\n        .header {\n            padding: 30px;\n            text-align: center;\n            background-color: #ffffff;\n        }\n        .header h2 {\n            color: #2c3e50;\n            margin: 0;\n            font-size: 22px;\n            font-weight: 600;\n        }\n        .content {\n            padding: 0 40px 30px 40px;\n            color: #515d6d;\n            font-size: 16px;\n            line-height: 1.6;\n        }\n        .highlight-box {\n            background-color: #fdf2f0;\n            border-left: 4px solid #e74c3c;\n            padding: 15px;\n            margin: 20px 0;\n            border-radius: 4px;\n        }\n        .highlight-box p {\n            margin: 0;\n            color: #c0392b;\n            font-weight: 500;\n        }\n        .footer {\n            background-color: #fafbfd;\n            padding: 20px 40px;\n            text-align: center;\n            font-size: 13px;\n            color: #95a5a6;\n            border-top: 1px solid #eaeded;\n        }\n        .btn-status {\n            display: inline-block;\n            background-color: #2c3e50;\n            color: #ffffff !important;\n            text-decoration: none;\n            padding: 12px 25px;\n            border-radius: 4px;\n            font-weight: 500;\n            margin-top: 15px;\n            font-size: 15px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"wrapper\">\n        <div class=\"container\">\n            <!-- Cabeçalho -->\n            <div class=\"header\">\n                <h2>Olá, {{ $('extrairDados').item.json.output.nome_cliente }}</h2>\n            </div>\n            \n            <!-- Conteúdo Principal -->\n            <div class=\"content\">\n                <p>Recebemos o seu relato e gostaríamos de pedir desculpas pelo transtorno. Sabemos o quanto o seu tempo é valioso e que esse tipo de situação é frustrante.</p>\n                \n                <p>Identificamos que a sua insatisfação é referente a:</p>\n                \n                <div class=\"highlight-box\">\n                    <p><strong>Item Relatado:</strong> {{ $('extrairDados').item.json.output.item_mencionado }}</p>\n                </div>\n                \n                <p>Nossa equipe de atendimento já foi notificada e a sua mensagem já está sob análise prioritária. Estamos trabalhando para entender o ocorrido e traremos um retorno com a solução o mais breve possível.</p>\n                \n                <p>Não se preocupe, você não ficará sem resposta. Entraremos em contato diretamente por este e-mail.</p>\n                \n                <p>Atenciosamente,<br>\n                <strong>Equipe de Suporte e Experiência do Cliente</strong></p>\n            </div>\n            \n            <!-- Rodapé -->\n            <div class=\"footer\">\n                <p>Esta é uma mensagem automática de recebimento. Por favor, não responda a este e-mail diretamente, pois nosso time já está tratando o seu caso interno.</p>\n            </div>\n        </div>\n    </div>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1920,-176],"id":"6a8a52a3-e9e9-44ec-a015-78e052f68fd0","name":"responderAutomaticamente","webhookId":"a821905f-aa6d-4c59-891e-b1981f3041d3","credentials":{"gmailOAuth2":{"id":"qhnef3bHs1UGpxOA","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a0ec3b2f-f3dc-4f4d-9e0b-4a200d3bda79","name":"nome_cliente","value":"={{ $('extrairDados').item.json.output.nome_cliente }}","type":"string"},{"id":"5e6b235b-1d46-4741-bfb6-2624e0f54291","name":"item_mencionado","value":"={{ $('extrairDados').item.json.output.item_mencionado }}","type":"string"},{"id":"1bdc57c1-6a7b-47cf-a3b9-e6fd4746a3b9","name":"ponto_principal","value":"={{ $('extrairDados').item.json.output.ponto_principal }}","type":"string"},{"id":"b38ea72b-0d2a-4c9c-b55f-bc5146c47b8a","name":"urgente","value":"={{ $('extrairDados').item.json.output.urgente }}","type":"string"},{"id":"90bcfd40-6493-4f92-8805-ae4566aa93e8","name":"sentimento","value":"={{ $('AnalisarSentimento').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9039e66b-5a18-432e-9465-19dc5d6782e8","name":"categoria","value":"={{ $json.categoria }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2368,16],"id":"63a40ba6-30f3-41a9-8951-1e422b93d312","name":"dadosFinais"},{"parameters":{"inputText":"={{ $('Edit Fields').item.json.texto }}","options":{"includeDetailedResults":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[992,-80],"id":"bb922430-5dcf-4ffe-bfeb-7df159f6a50e","name":"AnalisarSentimento"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"summarizationMethod":"stuff","prompt":"Escreva um resumo conciso em PT-BR de no máximo 20 palavras.\n\n\n\"{text}\"\n\n\nRESUMO CONCISO:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[2592,16],"id":"b2672e82-d684-4e79-8384-b0d3dc28e460","name":"resumirFeedback"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NwaAUk9q6q_WpuD_TvyoeAdZZPn_UmHNbuwZoAdUgNc","mode":"list","cachedResultName":"Feedbacks Mercattone","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NwaAUk9q6q_WpuD_TvyoeAdZZPn_UmHNbuwZoAdUgNc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"feedback","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NwaAUk9q6q_WpuD_TvyoeAdZZPn_UmHNbuwZoAdUgNc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"cliente":"={{ $('dadosFinais').item.json.nome_cliente }}","problema":"={{ $('dadosFinais').item.json.ponto_principal }}","sentimento":"={{ $('dadosFinais').item.json.sentimento }}","categoria":"={{ $('dadosFinais').item.json.categoria }}","resumo":"={{ $json.output.text }}","data":"={{ $now.format('dd/MM/yyyy') }}"},"matchingColumns":[],"schema":[{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"problema","displayName":"problema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentimento","displayName":"sentimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"resumo","displayName":"resumo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2944,16],"id":"3c245637-7802-4fb7-bd3d-10f035622d5c","name":"registrarFeedback","credentials":{"googleSheetsOAuth2Api":{"id":"ckTxzNFgLRCmjrrR","name":"Google Sheets account"}}}],"connections":{"EmailRecebido":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"extrairDados","type":"main","index":0}]]},"llama-3.3-70b-versatile":{"ai_languageModel":[[{"node":"extrairDados","type":"ai_languageModel","index":0},{"node":"AnalisarSentimento","type":"ai_languageModel","index":0},{"node":"categorizarFeedback","type":"ai_languageModel","index":0},{"node":"resumirFeedback","type":"ai_languageModel","index":0}]]},"extrairDados":{"main":[[{"node":"Urgente?","type":"main","index":0}]]},"Urgente?":{"main":[[{"node":"EnviarUrgencia","type":"main","index":0}],[{"node":"AnalisarSentimento","type":"main","index":0}]]},"categorizarFeedback":{"main":[[{"node":"enviarBug","type":"main","index":0}],[{"node":"enviarReclamação","type":"main","index":0}],[{"node":"enviarElogio","type":"main","index":0}],[{"node":"enviarOutro","type":"main","index":0}]]},"enviarBug":{"main":[[{"node":"categoriaBug","type":"main","index":0}]]},"enviarReclamação":{"main":[[{"node":"responderAutomaticamente","type":"main","index":0}]]},"enviarElogio":{"main":[[{"node":"categoriaElogio","type":"main","index":0}]]},"enviarOutro":{"main":[[{"node":"categoriaOutro","type":"main","index":0}]]},"responderAutomaticamente":{"main":[[{"node":"categoriaReclamacao","type":"main","index":0}]]},"categoriaBug":{"main":[[{"node":"dadosFinais","type":"main","index":0}]]},"categoriaReclamacao":{"main":[[{"node":"dadosFinais","type":"main","index":0}]]},"categoriaElogio":{"main":[[{"node":"dadosFinais","type":"main","index":0}]]},"categoriaOutro":{"main":[[{"node":"dadosFinais","type":"main","index":0}]]},"AnalisarSentimento":{"main":[[{"node":"categorizarFeedback","type":"main","index":0}],[{"node":"categorizarFeedback","type":"main","index":0}],[{"node":"categorizarFeedback","type":"main","index":0}]]},"dadosFinais":{"main":[[{"node":"resumirFeedback","type":"main","index":0}]]},"resumirFeedback":{"main":[[{"node":"registrarFeedback","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dbed4b0b-5d4c-4eac-b37b-a535445e3115","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-08T16:05:21.641Z","createdAt":"2026-07-08T16:05:21.641Z","role":"workflow:owner","workflowId":"zUzGNNEahuRB1RGs","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}