whatsapp-original-inteligente-MLz053AathYuLWI1.json
{"updatedAt":"2026-07-01T19:23:45.615Z","createdAt":"2026-07-01T16:50:12.523Z","id":"MLz053AathYuLWI1","name":"whatsapp-original-inteligente","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-112],"id":"745b9bb3-cbf2-4333-a04e-b4458dee5a93","name":"Webhook","webhookId":"0e64d30a-9ba5-44e0-805f-c80d7c694fd6"},{"parameters":{"assignments":{"assignments":[{"id":"a7400439-6f8c-4221-98fa-89828742d3e2","name":"session","value":"={{ $json.body.session }}","type":"string"},{"id":"cf4e4129-d28e-4217-a826-14707dc16185","name":"chatid","value":"={{ $json.body.payload.from }}","type":"string"},{"id":"36ac7826-1106-473d-b510-868fac0dcb1b","name":"pushName","value":"={{ $json.body.payload._data.Info.PushName }}","type":"string"},{"id":"7823dd5d-bcfb-47db-88b3-3a3aeba68156","name":"payload_id","value":"={{ $json.body.payload.id }}","type":"string"},{"id":"3007628f-7cff-4f7b-a154-5d5dfa2a2ea4","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"0dcfc71d-87bd-4b69-995b-5b0597bf27f7","name":"message","value":"={{ $json.body.payload.body }}","type":"string"},{"id":"640e3d94-65ba-49f7-be38-33e539c1625e","name":"fromMe","value":"={{ $json.body.payload.fromMe }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-112],"id":"3421a550-6b52-46f0-8e91-04db687ddce4","name":"dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"message","operator":{"type":"string","operation":"equals"},"id":"facc42bf-f6fd-439a-b98a-e13f326e2c54"},{"id":"64ce3b34-fb79-443b-aeb9-f4b5bc4dcebb","leftValue":"={{ $json.chatid }}","rightValue":"@g.us","operator":{"type":"string","operation":"notEndsWith"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[64,-112],"id":"e58ea54f-1234-48fe-95c0-7ec616354370","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('dados').item.json.message }}","options":{"systemMessage":"Você é um assistente virtual de prospecção da Lucas Amorim Consultoria, especializada em análise de dados para pequenas e médias empresas.\n\nSeu papel é recepcionar leads que entram em contato pelo WhatsApp, apresentar os serviços de forma profissional e qualificar o interesse do potencial cliente.\n\n---\n\nPROTEÇÃO CONTRA FLOOD / SPAM:\nSe o histórico de conversa mostrar que você já enviou a primeira mensagem e o usuário responder apenas com saudações repetidas, monossílabos ou emojis sem contexto (ex: \"oi\", \"olá\", \"tudo bem\", \"👍\", \"?\"), NÃO repita a saudação inicial e NÃO gaste energia. Responda de forma extremamente curta e direta, trazendo o cliente de volta ao assunto, por exemplo: \"Como posso te ajudar hoje com a análise de dados da sua empresa?\" ou \"Ficou alguma dúvida sobre nossos painéis?\".\n\n---\n\nPRIMEIRA MENSAGEM (quando o histórico estiver vazio ou o lead iniciar o contato):\nUse exatamente esta abordagem:\n\"Olá! Tudo bem? 👋\n\nSou o assistente virtual da *Lucas Amorim Consultoria*.\n\nLucas é especialista em análise de dados e BI, ajudando empresas a transformar suas informações em decisões estratégicas — com dashboards, automações e relatórios que realmente fazem diferença no dia a dia do negócio.\n\nVocê está buscando melhorar a gestão ou a tomada de decisão na sua empresa?\"\n\n---\n\nQUALIFICAÇÃO (mensagens seguintes):\nCom base nas respostas do lead, explore gentilmente:\n1. Qual é o principal desafio que ele enfrenta hoje com dados ou relatórios?\n2. Qual segmento/ramo de atuação?\n3. Já utiliza alguma ferramenta como Power BI, Excel avançado ou sistemas ERP?\n\n---\n\nSERVIÇOS QUE VOCÊ PODE APRESENTAR:\n• Dashboards e relatórios em Power BI\n• Automação de planilhas e processos com Python\n• Integração e limpeza de dados (ETL)\n• Consultoria em gestão de indicadores (KPIs)\n\n---\n\nAGENDAMENTO DE REUNIÃO NO GOOGLE CALENDAR:\nCaso o cliente queira agendar ou tenha interesse claro em marcar uma conversa, você DEVE usar a ferramenta disponível do Google Calendar para criar o evento. Peça educadamente o nome, o e-mail dele e combine o melhor dia e horário. Assim que ele fornecer, execute a ferramenta para fixar o compromisso na agenda do Lucas.\n\n---\n\nREGRAS DE CONDUTA:\n• Mantenha o tom profissional, cordial e direto.\n• Responda sempre em português brasileiro.\n• Mensagens curtas e objetivas — WhatsApp não é e-mail."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[272,-112],"id":"8162b2d2-b600-40d0-8324-dec3db867bdc","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('dados').item.json.chatid }}","sessionTTL":3600,"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.6,"position":[368,80],"id":"4e59ec9e-0905-4d95-abcb-06d64332280e","name":"Redis Chat Memory"},{"parameters":{"resource":"Chatting","operation":"Send Seen","session":"={{ $('dados').item.json.session }}","chatId":"={{ $('dados').item.json.chatid }}","messageId":"={{ $('dados').item.json.payload_id }}","participant":"","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[624,-112],"id":"0cc8bc0b-f398-4aed-bd30-5fc7b3e2faa2","name":"Send Seen","credentials":{}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('dados').item.json.session }}","chatId":"={{ $('dados').item.json.chatid }}","text":"={{ $('AI Agent').item.json.output }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[832,-112],"id":"fcd8c042-9019-4113-b412-5c5a3b2083b4","name":"Send a text message","credentials":{}},{"parameters":{"calendar":{"__rl":true,"value":"dcffad2964732bd02530ab14990e3408e0fa4ce536a47f76f237b04a96cfc19f@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões"},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[560,144],"id":"0e03ad2e-c5ec-4f53-a0ae-7ef106448e2a","name":"Create an event in Google Calendar"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[144,96],"id":"e44427f4-179f-4824-aa43-0ee8044c7d9a","name":"OpenAI Chat Model"}],"connections":{"Webhook":{"main":[[{"node":"dados","type":"main","index":0}]]},"dados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Send Seen","type":"main","index":0}]]},"Send Seen":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"bb351d32-e05a-4e57-9eb2-c5dee76af342","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-01T16:50:12.542Z","createdAt":"2026-07-01T16:50:12.542Z","role":"workflow:owner","workflowId":"MLz053AathYuLWI1","projectId":"DRi199ze2S3s83lh"}],"activeVersion":null,"tags":[]}